body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container-products {
  display: flex !important;
  flex-wrap: wrap !important;
  background: RGBA(21, 20, 21, 0.9);
}
.cart-product {
  width: 100% !important;
}
.carts-body {
  display: flex;

  align-items: center;
  gap: 18px;
  flex-direction: column;
  padding: 22px;
  height: 380px;
}
.row-product {
  padding: 50px;
}
.class {
  display: flex;
  justify-content: center;
}
