<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title : 'Experiencia Patagonia' }) %>

  <body class="home">
    <%- include('../partials/modal') %> <%- include('../partials/navbar') %>

    <!-- MAIN -->

    <main class="main__experience__patagonia">
      <div class="experience__patagonia__image">
        <div class="main__experience__patagonia__card">
          <div class="main__experience__patagonia_text">
            <h1>Cervecería Ley Seca</h1>
            <p>
              Bienvenidos al Jardín Cervecero de Ley Seca. Vení a disfrutar con
              quien quieras de esta experiencia única. Hace tu reserva con
              anticipación y enterate de los beneficios que tenemos para vos.
            </p>
            <a href=""> <button class="button">Reservar</button></a>
          </div>
          <div class="tour-card-patagonia">
            <img src="/images/background/tour-card2.jpeg" alt="" />
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
