<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title : 'Tour cervecero' }) %>

  <body class="home">
    <%- include('../partials/modal') %> <%- include('../partials/navbar') %>

    <!-- MAIN -->

    <main class="main__experience__tour">
      <div class="experience__tour__image">
        <div class="main__experience__tour__card">
          <div class="main__experience__tour_text">
            <h1>Cervecería Ley Seca</h1>
            <p>
              Bienvenidos al Tour Cervecero de Ley Seca. Vení a disfrutar con
              quien quieras de esta experiencia única. Hace tu reserva con
              anticipación y enterate de los beneficios que tenemos para vos.
            </p>
            <a href=""> <button class="button">Reservar</button></a>
          </div>
        </div>
        <div class="tour-card">
          <img src="/images/background/tour-card.png" alt="" />
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
