<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{
    title : "Formulario de creación"
}) %>

    <body>
        <%- include('../partials/navbar') %>
            <main class="main__form-created">
                <div class="created-container">
                    <div class="title-created">
                        <h2>Creación de productos</h2>
                    </div>
                    <form action="/products/store" method="post" class="form-create" enctype="multipart/form-data">
                        <div class="product-detail">
                            <div class="form__box">
                                <label for="name" class="label-form">Nombre del producto:</label>
                                <input type="text" id="name" name="name" placeholder="Ingrese el nombre del producto" class="input_form" >
                                <small><%=locals.errors && errors.name ? errors.name.msg : null%></small>
                            </div>
                            <div class="form__box">
                                <label for="name" class="label-form">Precio:</label>
                                <input type="text" id="price" name="price" placeholder="Ingrese el precio del producto" class="input_form">
                            </div>
                            <div class="form__box">
                                <label for="name" class="label-form">Descuento:</label>
                                <input type="text" id="discount" name="discount" placeholder="Ingrese el descuento del producto" class="input_form">
                            </div>
                            <div class="form__box">
                                <label for="category" class="label-form">Categoria:</label>
                                <select name="category" id="category" class="input_form">
                            <option value=""></option>        
                            <option value="Cerveza">Cerveza</option>
                            <option value="indumentaria">indumentaria</option>
                        </select>
                            </div>
                            <div class="form__box-image">
                                <label for="image" class="label-form">Imagenes:</label>
                                <input type="file" id="image" name="images" class="input_form" multiple>
                            </div>
                            <div class="form__box--description">
                                <label for="description" class="label-form">Descripción:</label>
                                <textarea name="description" id="description" class="input_form"></textarea>
                            </div>
                            <div class="form__box-btn">
                                <button type="submit" class="btn__product">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>