<%- include('../partials/head', { title : 'Home' }) %>

    <body class="home">
        <%- include('../partials/header') %>







            <!-- MAIN -->

            <main class="home__main">

                <div class="welcome">
                    <h3 class="title">Bienvenidos</h3>
                    <img src="/images/logos/shape-4.png" alt="">
                    <p class="welcome-cart"> Ley seca nace en el año 2015 producto de la asociación de un grupo de amigos los cuales compartían una gran pasión cervecera. Los viajes y los distintos sabores fueron las bases para este proyecto que día a día crece para ustedes.  </p>
                </div>




                <!-- MAIN SECTION PRODUCTS -->

                <h1 id="title_shop">Los elegidos para vos</h1>
                <section class="home__main__section__products">

                    <% productsDiscount.forEach(({id, name, price , discount, image}) => { %>
                        <%- include('../partials/products',{
                    id, 
                    name,
                    price,
                    discount,
                    image,
                    toThousand

                 }) %>
                            <% }) %>



                </section>
              

                <!-- SECTION EXPERIENCE -->
                <h1 id="title_experience">EXPERIENCIAS</h1>
                <section class="home__main__section__experience">

                    <article class="home__main__section--experience">
                        <a href="/products/experience"><label>RESERVA ACÁ</label></a>
                        <div class="home__main__description-experience">
                            <a href="/products/experience"><img src="/images/images_Ley-Seca/experiencia-domos.jpeg" alt=""></a>

                            <h2>DOMOS</h2>
                            <p> Viví una experiencia única y disfrutá lo mejor de nuestra naturaleza.</p>


                        </div>
                    </article>

                    <article class="home__main__section--experience">
                        <a href="/products/patagonia"><label>RESERVA ACÁ</label></a>
                        <div class="home__main__description-experience">
                            <a href="/products/patagonia"><img src="/images/images_Ley-Seca/experiencia-patagonia.png " alt=""></a>

                            <h2>EXPERIENCIA PATAGONIA</h2>
                            <p> Viví la Patagonia de una manera diferente en un viaje único.</´p>


                        </div>
                    </article>

                    <article class=" home__main__section--experience">
                        <a href="/products/tour"><label>Conocé más</label></a>
                        <div class="home__main__description-experience ">
                            <a href="/products/tour"><img src="/images/images_Ley-Seca/instalaciones-tanques.webp" " alt=" "> </a>

                            <h2>TOUR CERVECERO</h2>
                            <p> Vení a conocer como se hace nuestra cerveza y todos sus secretos.</p>
                        </div>
                    </article>



                    <article class=" home__main__section--experience-none ">

                        <label>Conocé más</label>
                        <div class=" home__main__description-experience ">

                            <img src=" /images/images_Ley-Seca/experiencia-instalaciones.jpg " alt=" ">
                            <h2 id="sucursales">NUESTROS BARES</h2>
                            <p> Descubrí todas nuestras sucursales.</p>
                        </div>
                    </article>


                    <article class=" home__main__section--experience-2 ">
                        <div class="home__main__description-experience-2 ">
                            <img src="/images/logos/barriles_banner.jpg " alt=" ">
                            <h2 >NUESTROS BARES</h2>
                            <p> Descubrí todas nuestras sucursales.</p>

                        </div>

                    </article>

                </section>









            </main>

            <%- include('../partials/footer') %>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>

    </html>