<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/919dfe1f4e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tu carrito</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <h1>Tu carrito</h1>
            </div>
            <button><i class="fa-solid fa-arrow-left"></i></button>
            <hr>
            <div>
                <img src="/images/logo-pinguino.png" alt="">
                <p>Ley Seca</p>
            </div>
            <hr>
        </nav>
    </header>

    <main>
        <section>
            <article>
                <div>
                    <p>Cart <br> is empty</p>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <i class="fa-solid fa-trash-can"></i>
                    <button>- 1 +</button>
                </div>
            </article>
        </section>
        <section>
            <article>
                <hr>
                <div>
                    <button><a href="">Vaciar carrito</a></button>
                    <button><a href="">Volver a la tienda</a></button>
                </div>
            </article>
        </section>
        <div>
            <h2>Titulo</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis repudiandae pariatur similique, eaque
                numquam obcaecati perspiciatis ut enim debitis! Ullam tempora amet asperiores quibusdam repellat
                delectus dolore tempore maxime officia.</p>
        </div>
        <nav>
            <div>
                <ul>
                    <li><a href="#">tienda</a></li>
                    <li><a href="#">contacto</a></li>
                    <li><a href="#">sobre nosotros</a></li>
                    <li><a href="#">terminos del servicio</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""></a><i class="fa-brands fa-instagram"></i></li>
                    <li><a href=""></a><i class="fa-brands fa-youtube"></i></li>
                    <li><a href=""></a><i class="fa-brands fa-whatsapp"></i></li>
                </ul>
            </div>
        </nav>
        <p>&#169 Copyright</p>
        <hr>
        <div>
            <button>
                <p>Pagar</p>
                <small>Subtotal:</small>
            </button>
        </div>
    </main>

</body>

</html>