<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <title>Home</title>
</head>


<body class="home">

    <!-- HEADER -->

    <header id="home__header">

        <!-- HEADER-LOGO -->

        <div class="home__header__logo">

            <div class=" home__header__logo-letters ">
                <img src="/images/logos/LETRAS_LEY-SECA2.png" alt="">
            </div>



            <div class="home__header__logo-image">
                <img src="/images/logos/logo_ley_seca.png">
            </div>


            <!-- SEARCH-BAR -->
            <form class="home__form">
                <div class="home__formgroup">
                    <input type="text" id="name" class="home__forminput" placeholder=" ">
                    <label for="name" class="form__label"><i class="fa-solid fa-magnifying-glass"></i></label>
                </div>
            </form>

        </div>

        <!-- HEADER BUTTON -->

        <div class="button__know-more">
            <button class="button" type="button">Conocé más</button>
        </div>

        <!-- HEADER-NAVBAR -->
        <nav class="home__header__menu">
            <label for="menu" class="nav_label">
                <i class="fa-solid fa-bars"></i>
            </label>
            <input type="checkbox" id="menu" class="nav__input">
            <div class=" home__header__browser-menu__items">

                <ul>
                    <li><a href="">Productos</a></li>
                    <li><a href="#title_shop">Shop</a></li>
                    <li><a href="#title_experience">Experiencias</a></li>
                    <li><a href="/register">Registrate</a></li>
                </ul>

            </div>


        </nav>

    </header>

    <!-- MAIN -->

    <main class="home__main">

        <!-- MAIN SECTION PRODUCTS -->

        <h1 id="title_shop">SHOP</h1>
        <section class="home__main__section__products">


            <article class="home__main__section--product">
                <label> 25% Off</label>

                <div class="home__main__description-products">
                    <a href="/productDetail" class="home__detalle"><img src="/images/images_Ley-Seca/Cerveza-Ipa.png" alt=""></a>
                    <div class="description-products">
                        <h3 class="descount">$3.800</h3>
                        <h3>$2.850</h3>
                        <h3> IPA PATAGÓNICA 355ccv x 12</h3>
                    </div>

                    <div class="home__button__products">

                        <a href="/carrito"> <button class="button">Comprar</button></a>
                    </div>

                </div>
            </article>


            <article class="home__main__section--product">
                <label> 10% Off</label>

                <div class="home__main__description-products">
                    <a href="" class="home__detalle"><img src="/images/images_Ley-Seca/Cerveza-combo_colonia-Old.png" alt=""></a>
                    <div class="description-products">
                        <h3 class="descount">$3.800</h3>

                        <h3>$2.850</h3>
                        <h3>COLONIA OLD PATAGÓNICA 355ccv x 12</h3>
                    </div>

                    <div class="home__button__products">

                        <button class="button">Comprar</button>
                    </div>

                </div>
            </article>




            <article class="home__main__section--product">
                <label> 20% Off</label>

                <div class="home__main__description-products">
                    <a href="" class="home__detalle"><img src="/images/images_Ley-Seca/Cervezas-combo_Ipa-raices.png" alt=""></a>
                    <div class="description-products">
                        <h3 class="descount">$750</h3>
                        <h3>$600</h3>
                        <h3>COMBITO DÚO: Dos porrones.</h3>
                    </div>

                    <div class="home__button__products">

                        <button class="button">Comprar</button>
                    </div>

                </div>
            </article>






            <article class="home__main__section--product">
                <label> 10% Off</label>

                <div class="home__main__description-products">
                    <a href="" class="home__detalle"><img src="/images/images_Ley-Seca/Cervezas-combo_golden-sureña.png" alt=""></a>
                    <div class="description-products">
                        <h3 class="descount">$700</h3>
                        <h3>$630</h3>
                        <h3>COMBITO DÚO: Dos porrones.</h3>
                    </div>

                    <div class="home__button__products">

                        <button class="button">Comprar</button>
                    </div>

                </div>
            </article>



        </section>

        <!-- SECTION EXPERIENCE -->
        <h1 id="title_experience">EXPERIENCIAS</h1>
        <section class="home__main__section__experience">

            <article class="home__main__section--experience">
                <label>RESERVA ACÁ</label>
                <div class="home__main__description-experience">
                    <img src="/images/images_Ley-Seca/experiencia-domos.jpeg" alt="">

                    <h2>DOMOS</h2>
                    <p> Viví una experiencia única y disfrutá lo mejor de nuestra naturaleza.</p>


                </div>
            </article>

            <article class="home__main__section--experience">
                <label>RESERVA ACÁ</label>
                <div class="home__main__description-experience">
                    <img src="/images/images_Ley-Seca/experiencia-patagonia.png " alt="">

                    <h2>EXPERIENCIA PATAGONIA</h2>
                    <p> Viví la Patagonia de una manera diferente en un viaje único.</´p>


                </div>
            </article>

            <article class=" home__main__section--experience">
                <label>Conocé más</label>
                <div class="home__main__description-experience ">
                    <img src="/images/images_Ley-Seca/instalaciones-tanques.webp" " alt=" ">

                    <h2>TOUR CERVECERO</h2>
                    <p> Vení a conocer como se hace nuestra cerveza y todos sus secretos.</p>
                </div>
            </article>


      
          <article class=" home__main__section--experience-none ">
           
               <label>Conocé más</label>
              <div class=" home__main__description-experience ">
                  <img src=" /images/images_Ley-Seca/experiencia-instalaciones.jpg " alt=" ">

                   <h2 id="sucursales ">NUESTROS BARES</h2>
                  <p> Descubrí todas nuestras sucursales.</p>
               </div>
           </article>
        
         </section>
        
         
        
     




        
    </main>
    <footer class=" home__footer ">

        <div class=" home__footer__redes ">
            <img src=" /images/logos/background_ley-seca.webp " alt=" ">
            <div class=" home__footer__redes-icon ">
                <h4><i class=" fa-brands fa-facebook "></i></h4>
                <h4><i class=" fa-brands fa-instagram "></i></h4>
                <h4><i class=" fa-brands fa-youtube "></i></h4>
                <h4><i class=" fa-brands fa-whatsapp "></i></h4>
            </div>


        </div>

        <div class=" home__footer__logo-letters ">
           <a href="#home__header "> <img src=" /images/logos/LETRAS_LEY-SECA2.png " alt=" "></a>
        </div>

        <div class=" home__footer__links ">
            <ul>
                <li><a href=" ">Productos</a> </li>
                <li><a href="#title_shop ">Shop</a></li>
                <li><a href="#title_experience ">Experiencias</a></li>
                <li><a href="/register ">Registrate</a></li>





            </ul>

        </div>
        <hr>
        <div class=" home__footer__links ">
            <ul>
                <li><a href="/terminos ">TÉRMINOS Y CONDCIONES</a></li>
                <li><a href=" ">SOBRE NOSOTROS</a></li>
                <li><a href=" ">POLÍTICAS DE PRIVACIDAD</a></li>
                   <li><a href="#sucursales ">FRANQUICIAS</a></li>
            </ul>
        </div>

        <div class=" home__footer__terms ">
            <p>
                BEBER CON MODERACIÓN, PROHINIDA SU VENTA A MENORES DE 18 DE AÑOS| ©COPYRIGHT LEY SECA S.R.L 2022. TODOS LOS DERECHOS RESERVADOS.
            </p>

        </div>


    </footer>

</body>

</html>