<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>


<body class="home">

    <!-- HEADER -->

    <header class="home__header">

        <!-- HEADER-LOGO -->

        <div class="home__header__logo">

            <div class=" home__header__logo-letters ">
                <img src="/images/images_Ley-Seca/LETRAS_LEY-SECA2.png" alt="">
            </div>
            <!-- BURGUER-MENU -->
            <div class="home__header__logo__burguer-menu">
                <i class="fas fa-bars"></i>
            </div>








            <div class="home__header__logo-image">
                <img src="/images/images_Ley-Seca/logo_ley_seca.png">
            </div>

        </div>










        <!-- HEADER BUTTON -->

        <div class="home__header__know-more">
            <button type="button">Conocé más</button>
        </div>

        <!-- HEADER-NAVBAR -->

        <nav class="home__header__menu">
            <ul>
                <li>Productos</li>
                <li>Shop</li>
                <li>Experiencias</li>
                <li>Armá tu combo</li>
            </ul>

        </nav>
    </header>

    <!-- MAIN -->

    <main class="home__main">

        <!-- MAIN SECTION PRODUCTS -->


        <section class="home__main__section__products">
            <h2>SHOP</h2>
            <article class="home__main__section--product">
                <button type="button"> 25% Off</button>
                <div class="home__main__description-products">
                    <img src="/images/images_Ley-Seca/IPA_large.jpg" alt="">
                    <p>$4.300</p>
                    <p>$3.225</p>
                    <h3>Cerveza IPA Patagonica x 335 CC</h3>

                </div>
            </article>
        </section>

    </main>
</body>

</html>