<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="homeheaderlogo">

            <div class=" homeheaderlogo-letters ">
                <img src="/images/LETRAS_LEY-SECA2.png" alt="">
            </div>
            

            <div class="homeheaderlogoburguer-menu">
                <img src="/images/png-transparent-hamburger-button-.jpg" alt="">
            </div>




           

            <nav class="homeheadermenu">

                <ul>
                    <li><a href=" ">Productos</a></li>
                    <li><a href=" ">Shop</a></li>
                    <li><a href=" ">Experiencias</a></li>
                    <li><a href=" ">Armá tu combo</a></li>
                </ul>



            </nav>

        </div>
        

    </header> 


 <form class="formulario">
        <h1>Ingresar</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fa-solid fa-user icono"></i>
                <input type="text" placeholder="Usuario">
            </div>


            <div class="input-contenedor ">
                <i class="fa-solid fa-key icono"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <p>¿Olvidaste tu contraseña?</p>
            <div>
                <input type="submit" value="Ingresar" class="button">
                <p> ¿No tenés cuenta? <a href="/register" class="link">Registrate acá</a> </p>
            </div>

        </div>
    <form>
</body>
</html>