<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <title>detalle</title>
</head>

<body class="detalle">
    <header class="detalle__header">

        <!-- HEADER-LOGO -->

        <div class="detalle__header--logo">

            <div class="detalle__header--logo-letters ">
                <img src="/images/logos/LOGO_LEY-SECA2.png" alt="">
            </div>
            <!-- BURGUER-MENU -->

            <div class="detalle__header--logoburguer-menu">
                <img src="/images/Menu-burguer.jpeg" alt="">
            </div>




            <!-- HEADER-NAVBAR -->

            <nav class="detalle__header--menu">

                <ul>
                    <li><a href=" ">Productos</a></li>
                    <li><a href=" ">Shop</a></li>
                    <li><a href=" ">Experiencias</a></li>
                    <li><a href=" ">Armá tu combo</a></li>
                </ul>



            </nav>

        </div>


    </header>

    <main class="detalle__main">
        <section class="detalle__main--section">
            <article class="detalle__main--section-article">
                <div>
                    <img src="/images/cerveza3.jpg" alt="botella">
                </div>
                <div class="detalle__producto--compra">
                    <h3>Cerveza "Ipa Patagonica"</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                        harum commodi quam, beatae saepe sunt pariatur, explicabo
                        accusantium ex officia perferendis atque voluptatum sit quaerat
                        facilis eveniet officiis facere tempore.
                    </p>
                    <h4>PRECIO $$$$</h4>
                    <p>Cantidad</p>
                    <button>- 1 +</button>
                    <div class="detalle__button--carrito">
                        <button>AGREGAR AL CARRITO</button>
                    </div>
                </div>
            
                
            </article>
        </section> 

        <h2 class="detalle__text--sugerencia">Te puede interesar</h2>
        <section class="detalle__sugerencias">   
            <article class="detalle__sugerencia-img-detalle">
                <div class="detalle__sugerencia-img">
                    <img src="/images/combo2.jpg" alt="" />
                </div>
                <div class="detalle__product--sugerencia">
                    <h3>Mix de Cervezas + 2 pintas</h3>
                    <p class="detalle__descripcion-product">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        dolorem aspernatur repudiandae.
                    </p>
                    <h4>PRECIO $$$$</h4>
                </div>
            </article>

            <article class="detalle__sugerencia-img-detalle">
                <div class="detalle__sugerencia-img">
                    <img src="/images/combo1.jpg" alt="" />
                </div>
                <div class="detalle__product--sugerencia">
                    <h3>Para desgustar</h3>
                    <p class="detalle__descripcion-product">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        dolorem aspernatur repudiandae.
                    </p>
                    <h4>PRECIO $$$$</h4>
                </div>
            </article>
        </section>

        <article class="detalle__sugerencia-img-detalle">
            <div class="detalle__sugerencia-img">
                <img src="/images/cerveza2.jpg" alt="" />
            </div>
            <div class="detalle__product--sugerencia">
                <h3>Golden Ale</h3>
                <p class="detalle__descripcion-product">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    dolorem aspernatur repudiandae.
                </p>
                <h4>PRECIO $$$$</h4>
            </div>
        </article>
    </section>
    </main>

    <footer class="detalle__footer">

        <div class="detalle__footer__redes">
            <img src="/images/background-footer.jpg" alt="">
            <div class="detalle__footer__redes-icon">
                <h4><i class="fa-brands fa-facebook"></i></h4>
                <h4><i class="fa-brands fa-instagram"></i></h4>
                <h4><i class="fa-brands fa-youtube"></i></h4>
                <h4><i class="fa-brands fa-whatsapp"></i></h4>
            </div>


        </div>

        <div class=" detalle__footer__logo-letters ">
            <img src="/images/logos/LOGO_LEY-SECA2.png" alt="">
        </div>

        <div class="detalle__footer__links">
            <ul>
                <li><a href="">Productos</a> </li>
                <li><a href="">Shop</a></li>
                <li><a href="">Experiencias</a></li>
                <li><a href="">Armá tu combo</a></li>
                <hr>
                <li><a href="">TÉRMINOS Y CONDCIONES</a></li>
                <li><a href="">SOBRE NOSOTROS</a></li>
                <li><a href="">POLÍTICAS DE PRIVACIDAD</a></li>
                <li><a href="">FRANQUICIAS</a></li>
            </ul>
        </div>

        <div class="detalle__footer__terms">
            <p>
                BEBER CON MODERACIÓN, PROHINIDA SU VENTA A MENORES DE 18 DE AÑOS| ©COPYRIGHT LEY SECA S.R.L 2022. TODOS LOS DERECHOS RESERVADOS.
            </p>

        </div>


    </footer>
</body>

</html>