<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue";
}

h3{
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h2 {
    font-size: 27px;
}

p {
    font-size: 1.2em;
} */


button{
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 1em;
    padding: 3px 6px;
} 

=======
:root {
    --colorBlack: #151314;
    --colorPearlGray: #DEDEDE;
    --colorGray: rgb(78, 74, 74);
    --colorOrange: #D19E59;
    --fontBodyText: 'Bebas Neue', cursive;
    --fontText: 'Martel Sans', sans-seri;
    --img: url('/images/logos/background_ley-seca.webp');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorPearlGray);
    font-family: var(--fontBodyText);
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 60px;
}
>>>>>>> a5aa4ad68812baf6de945658c3612c1a5e9c79a3
