:root {
    --colorBlack: #151314;
    --colorPearlGray: #DEDEDE;
    --colorGray: rgb(78, 74, 74);
    --colorOrange: #D19E59;
    --fontBodyText: 'Bebas Neue', cursive;
    --fontText: 'Martel Sans', sans-seri;
    --img: url('/images/logos/background_ley-seca.webp');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorPearlGray);
    font-family: var(--fontBodyText);
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 60px;
}
