@media (min-width: 320px) {
    .home__header {
        background-image: var(--img);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    .home__header__logo {
        background-color: var(--colorBlack);
        display: flex;
        width: 100%;
        height: 15%;
    }
    .home__header__logo-letters {
        width: 80%;
    }
    .home__header__logo img {
        width: 25%;
        height: 100%;
    }
    .home__header__logo__burguer-menu {
        color: var(--colorPearlGray);
        margin: 9px 285px;
        position: absolute;
        font-size: 30px;
    }
    .home__header__logo-image {
        display: none;
    }
    .home__header__menu {
        display: none;
    }
    /* HEADER BUTTON */
    .home__header__know-more {
        position: absolute;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 34%;
    }
    .home__header__know-more button {
        padding: 3px;
        width: 100%;
        background-color: var(--colorBlack);
        font-family: var(--fontBodyText);
        color: var(--colorPearlGray);
        border: none;
    }
}