:root {
    --colorBlack: #151314;
    --colorPearlGray: #DEDEDE;
    --colorGray: rgb(78, 74, 74);
    --colorOrange: #D19E59;
    --fontBodyText: 'Bebas Neue', cursive;
    --fontText: 'Martel Sans', sans-seri;
    --img: url('/images/logos/background_ley-seca.webp');
    --img-domo: url('/images/background/domos-background.jpeg');
    --img-pata: url('/images/background/patagonia-background.jpeg');
    --img-tour: url('/images/background/tour-background.jpeg');
    --img-error: url('/images/logos/background-carita.png');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorPearlGray);
    font-family: var(--fontBodyText);
}

a {
    text-decoration: none;
    color: black;
}