@media (min-width: 320px) and (max-width: 767px) {
  .home__footer {
    background-color: #222222;
  }
  .home__footer__redes {
    position: relative;
    display: flex;
    height: 17%;
  }
  .home__footer__redes img {
    width: 100%;
    height: 130px;
    opacity: 50%;
  }
  .home__footer__redes-icon {
    justify-content: center;
    position: absolute;
    gap: 15%;
    padding: 13% 0px 0px 20%;
    display: flex;
    padding-bottom: 96px;
    font-size: 26px;
    color: #fff;
    width: 100%;
  }
  .home__footer__logo-letters {
    display: inline-block;
    width: 23%;
  }
  .home__footer__logo-letters img {
    width: 100%;
  }
  .home__footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }
  .home__footer__links ul {
    list-style: none;
    margin: 10px;
  }
  .home__footer__links li a {
    color: var(--colorPearlGray);
    text-decoration: none;
  }
  .home__footer__logo-letters li {
    margin: 5px;
  }
  hr {
    width: 80%;
    margin-left: 10%;
  }
  .home__footer__terms {
    margin: 10px;
    color: var(--colorGray);
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* FOOTER */
  .home__footer {
    background-color: #222222;
  }

  .home__footer__redes img {
    width: 100%;
    height: 150px;
    opacity: 50%;
  }
  .home__footer__redes-icon {
    justify-content: center;
    position: absolute;
    gap: 102px;
    padding: 43px 0px 0px 125px;
    display: flex;
    padding-bottom: 96px;
    font-size: 26px;
    color: #fff;
    width: 100%;
  }
  .home__footer__logo-letters {
    display: inline-block;
    width: 23%;
  }
  .home__footer__logo-letters img {
    width: 100%;
  }
  .home__footer__links {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .home__footer__links ul {
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 47px;
  }
  .home__footer__links li a {
    color: var(--colorPearlGray);
    text-decoration: none;
  }
  .home__footer__logo-letters li {
    margin: 5px;
    display: inline;
  }
  hr {
    width: 80%;
    margin-left: 10%;
  }
  .home__footer__terms {
    margin: 10px;
    color: var(--colorGray);
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  /* FOOTER */
  .home__footer {
    background-color: #222222;
  }

  .home__footer__redes img {
    width: 100%;
    height: 160px;
    opacity: 50%;
  }
  .home__footer__redes-icon {
    justify-content: center;
    position: absolute;
    gap: 215px;
    padding: 43px 0px 0px 125px;

    display: flex;
    padding-bottom: 96px;
    font-size: 26px;
    color: #fff;
    width: 100%;
  }
  .home__footer__logo-letters {
    display: inline-block;
    width: 23%;
  }
  .home__footer__logo-letters img {
    width: 60%;
  }
  .home__footer__links {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .home__footer__links ul {
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 47px;
  }
  .home__footer__links li a {
    color: var(--colorPearlGray);
    text-decoration: none;
  }
  .home__footer__logo-letters li {
    margin: 5px;
    display: inline;
  }
  hr {
    width: 80%;
    margin-left: 10%;
  }
  .home__footer__terms {
    margin: 10px;
    color: var(--colorGray);
    font-size: 14px;
    text-align: center;
  }
}
