@media (min-width: 320px) and (max-width: 767px) {
  /* NAVBAR */
  .menu_desk {
    display: none;
  }

  .home__header__browser-menu__items {
    background: RGBA(21, 20, 21, 0.96);
    width: 300px;
    height: 262%;
    margin-top: 123px;
    display: flex;
    justify-content: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__input:checked + .home__header__browser-menu__items {
    clip-path: circle(100% at center);
  }

  .home__header__browser-menu__items li {
    padding-top: 10px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  }

  .home__header__browser-menu__items a {
    padding: 8px;
  }
  .home__header__banner---image img {
    width: 100%;
    height: 90px;
  }
  .nav__input {
    display: none;
  }

  /* NAVBAR */

  /* burguer menu */

  .nav_label i {
    position: absolute;
    left: 87%;
    bottom: 29%;
    background-color: transparent;
    border-radius: 10%;
    font-size: 27px;
    padding: 5px;
    color: white;
  }
  .home__header__browser-menu__items ul {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
  .home__header__browser-menu__items a {
    text-decoration: none;
    color: var(--colorPearlGray);
  }

  /* burguer menu */

  /* CAROUSEL */
  .d-none {
    display: block !important;
  }
  .carousel-text {
    height: 216px;
  }
  .title-home {
    font-family: var(--fontKaushan);
    font-size: 22px;
  }
  .text-home {
    text-align: center;
    font-size: 11px;
  }
  .btn-home {
    background: linear-gradient(180deg, #151314, transparent);
    width: 187px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  /* CAROUSEL */

  .home__nav {
    height: 85px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    height: 20px;
    position: absolute;
    top: 176px;
    z-index: 0;
  }

  .img-carrousel {
    height: 350px;
    filter: brightness(0.4);
  }
  .home__header__logo {
    background: linear-gradient(180deg, #151314, transparent);
    display: flex;
    width: 100%;
    height: 100%;
  }
  .home__header__logo img {
    width: 140px;
    height: 99%;
    padding-top: 22px;
  }
  .home__header__logo-letters {
    width: 25%;
  }
  .home__header__logo-image {
    display: none;
  }
  .home__header__menu {
    top: 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 123px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .scroll {
    top: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 124px;
    background-color: #151314;
  }
  .input {
    display: none;
  }
  .logout {
    display: none;
  }
  .icon {
    width: 22%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 36%;
  }
  .icon i {
    color: white;
  }

  .carousel-indicators {
    z-index: 0;
  }
  /* search bar */
  .home__form {
    width: 40%;
    position: relative;
    left: 52px;
    top: 38px;
  }
  .home__formgroup {
    position: relative;
    margin: 10px 0px;
  }
  .home__form input {
    font-size: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
  }
  .home__form button {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0px;
    left: 88%;
  }
  .home__form i {
    color: rgb(255, 255, 255);
  }
  /* input {
    background-color: #151314;
  } */

  .background-image {
    background-image: var(--img-backmove);
    height: 200px;
    background-attachment: fixed;
    background-size: cover;
  }
  .title {
    font-family: var(--fontGrat);
    font-size: 35px;
  }
  .welcome-cart {
    text-align: center;
    padding: 13px;
    font-weight: 700;
  }
  .background-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 21px;
    font-weight: 100;
    color: #c59d5f;
    font-size: 42px;
  }
  .up {
    width: 80px;
    position: absolute;
    top: -2px;
    left: 40%;
  }
  .background-text {
    font-family: var(--fontGrat);
    color: #c59d5f;
    font-size: 34px;
  }
  .title-background {
    font-family: var(--fontKaushan);
    color: white;
    font-size: 28px;
  }
  .down {
    width: 80px;
    position: absolute;
    top: 183px;
    left: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* NAVBAR */
  .menu_desk {
    display: none;
  }
  .carousel-indicators {
    z-index: 0;
  }
  .scroll {
    top: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100px;
    background-color: #151314;
  }
  .btn-secondary {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 90%;
    font-size: 35px;
    padding-top: 18px;
  }

  .dropdown-menu {
    width: 375px;
    position: absolute !important;
    top: 4px !important;
    height: 379px;
    transition: 0.5s;
    text-align: center;
    background: RGBA(21, 20, 21, 0.96);

    transform: translate3d(48px, 78.5px, 0px) !important;
  }

  .btn:first-child:hover,
  :not(.btn-check) + .btn:hover {
    color: transparent;
    background-color: transparent;
    border: none;
  }
  .home__header__menu-burguer {
    width: 23%;
    display: flex;
  }
  .dropdown {
    width: 100%;
    display: flex;
    margin-left: 33%;
    align-self: auto;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-item {
    font-weight: bold;
  }

  /* NAVBAR */
  .carousel-indicators {
    z-index: 0;
  }
  .carousel-control-prev {
    height: 20px;
    position: absolute;
    top: 100px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 20px;
    position: absolute;
    top: 245px;
    z-index: 0;
  }

  .home__nav {
    height: 95px;
  }
  .img-carrousel {
    height: 460px;
    filter: brightness(0.4);
  }

  .carousel-text {
    margin-bottom: 11px;
  }
  .title {
    font-family: var(--fontGrat);
    font-size: 45px;
  }
  .welcome-cart {
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }
  .background-image {
    background-image: var(--img-backmove);
    height: 200px;
    background-attachment: fixed;
    background-size: cover;
  }
  .background-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 21px;
    font-weight: 100;
    color: #c59d5f;
    font-size: 42px;
  }
  .up {
    width: 84px;
    position: absolute;
    top: -2px;
    left: 47%;
  }
  .title-background {
    font-family: var(--fontKaushan);
    color: white;
  }
  .down {
    width: 84px;
    position: absolute;
    top: 182px;
    left: 47%;
  }
  .background-text {
    font-family: var(--fontGrat);
    color: #c59d5f;
  }

  .welcome {
    width: 50%;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-home {
    font-family: var(--fontKaushan);
    font-size: 57px;
  }
  .btn-home {
    background: linear-gradient(180deg, #151314, transparent);
    width: 35%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 7px;
  }
  .home__header__menu {
    top: 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 83px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .home__header__logo-letters {
    display: none;
  }
  .home__header__logo {
    background: linear-gradient(180deg, #151314, transparent);
    display: flex;
    width: 100%;
    height: 100%;
  }
  .home__header__logo-image {
    width: 100px;
    margin-right: 16px;
  }
  .home__header__logo-image img {
    width: 135%;
    margin-top: 10px;
  }
  /* search bar */
  .home__form {
    display: flex;

    width: 43%;

    margin-left: 12%;
  }
  .home__formgroup {
    position: relative;

    width: 100%;
    margin: auto;
  }
  .home__form input {
    font-size: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    width: 100%;
  }
  .home__form button {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0px;
    left: 88%;
  }
  .home__form i {
    color: white;
  }
  /* search-bar */
  .user__icon {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .icon {
    width: 28%;
    margin: auto;
    height: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 36px;
  }
  .icon i {
    font-size: 20px;
  }
  .nav__input {
    display: none;
  }

  .nav_label {
    display: inline;
    margin-left: 10%;
  }
  .nav_label i {
    position: absolute;
    left: 92%;
    top: 16px;
    border-radius: 10%;
    font-size: 27px;
    padding: 5px;
    color: white;
  }
  .home__header__browser-menu__items {
    background: RGBA(21, 20, 21, 0.9);
    width: 311px;
    height: 437%;
    margin-top: 83px;
    display: flex;
    justify-content: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__input:checked + .home__header__browser-menu__items {
    clip-path: circle(100% at center);
  }
  .home__header__browser-menu__items ul {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 20px;
  }
  .home__header__browser-menu__items li {
    padding-top: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  }
}

@media (min-width: 1024px) {
  /* NAVBAR */
  .home__header__browser-menu__items {
    display: none;
  }
  .home__header__menu-burguer {
    display: none;
  }
  .carousel-indicators {
    z-index: 0;
  }

  /* NAVBAR */

  .carousel-control-prev,
  .carousel-control-next {
    height: 20px;
    position: absolute;
    top: 272px;
    z-index: 0;
  }
  .home__nav {
    height: 95px;
  }

  .home__header__logo-letters {
    display: none;
  }
  .home__header__logo {
    background: linear-gradient(180deg, #151314, transparent);
    display: flex;
    width: 100%;
    height: 100%;
  }
  .home__header__logo-image {
    width: 100px;
    margin-right: 16px;
  }
  .home__header__logo-image img {
    width: 135%;
    margin-top: 9px;
  }
  .img-carrousel {
    height: 505px;
    filter: brightness(0.4);
  }
  .nav__input {
    display: none;
  }
  .nav_label {
    display: none;
  }

  .home__header__menu {
    top: 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 81px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .scroll {
    top: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 83px;
    background-color: #151314;
  }
  .home__header__menu ul {
    display: flex;
    gap: 23px;
    list-style: none;
    margin-top: 20px;
  }
  .home__header__menu li a {
    font-weight: bold;
    font-size: 20px;
  }

  .menu_desk {
    display: flex;
    position: absolute;
    left: 100px;
    top: -6px;
  }
  .list-menu li {
    margin: 5px;
    padding: 9px;
  }
  .link:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }

  /* search bar */
  .home__form {
    display: flex;
    justify-content: end;
    width: 53%;
  }
  .home__formgroup {
    position: relative;
    margin: 22px;
    left: 58%;
  }
  .home__form input {
    font-size: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    width: 100%;
    position: relative;
    left: 0%;
  }
  .home__form button {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0px;
    left: 88%;
  }
  .home__form i {
    color: white;
  }
  /* search bar */
  /* icons */
  .icon {
    position: relative;
    right: 197px;
    width: 12%;
    margin: auto;

    display: flex;
    justify-content: flex-start;
    gap: 33px;
  }
  .icon i {
    font-size: 20px;
    color: white;
  }
  .icon i:hover {
    color: grey;
  }
  /* icons */

  .home__header__browser-menu__items {
    position: absolute;
    top: 0px;
    left: 90px;
  }

  .carousel-text {
    margin-bottom: 40px;
  }

  .btn-home {
    background: linear-gradient(180deg, #151314, transparent);
    width: 32%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px;
  }
  .title-home {
    font-family: var(--fontKaushan);
    font-size: 70px;
  }
}
