@media (min-width: 320px) and (max-width:767px) {
    .home__header__logo {
        background-color: var(--colorBlack);
        display: flex;
        width: 100%;
        height: 63px;
    }
    .home__header__logo img {
        width: 92px;
        height: 100%;
    }
    .home__header__logo-letters {
        width: 80%;
    }
    .home__form {
        display: none;
    }
    .home__header__logo-image {
        display: none;
    }
    .home__header__menu {
        position: relative;
        bottom: 51px;
    }
    .nav__input {
        display: none;
    }
    .nav_label {
        display: inline;
        margin-left: 87%;
    }
    .nav_label i {
        background-color: var(--colorBlack);
        border-radius: 10%;
        font-size: 27px;
        padding: 5px;
        color: white;
    }
    .home__header__browser-menu__items ul {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }
    .home__header__browser-menu__items a {
        text-decoration: none;
        color: var(--colorPearlGray);
    }
    .home__header__browser-menu__items {
        height: 0px;
        position: absolute;
        opacity: 0;
        display: flex;
        transition: 0s;
    }
    .nav__input:checked+.home__header__browser-menu__items {
        position: relative;
        opacity: 1;
        height: 205px;
        transition: 0.5s;
        background: linear-gradient(180deg, #151314, transparent);
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .home__form {
        display: none;
    }
    .home__header__logo__burguer-menu {
        display: none;
    }
    .home__header__logo-image {
        display: none;
    }
    /* nav */
    .home__header__logo {
        background-color: var(--colorBlack);
        display: flex;
        width: 100%;
        height: 25%;
    }
    .home__header__logo img {
        width: 30%;
        height: 100%;
    }
    .home__header__logo-letters {
        width: 14%;
    }
    .home__header__logo-letters img {
        width: 100%;
    }
    .home__header__menu {
        position: absolute;
        top: 0px;
        left: 145px;
    }
    .nav__input {
        display: none;
    }
    .nav_label {
        display: none;
    }
    .home__header__browser-menu__items {
        display: flex;
        width: 100%;
    }
    .home__header__browser-menu__items ul {
        list-style: none;
        margin-top: 34px;
    }
    .home__header__browser-menu__items li a {
        color: var(--colorPearlGray);
        text-decoration: none;
    }
    .home__header__browser-menu__items li {
        margin: 5px;
        display: inline;
        padding: 43px;
    }
}

@media (min-width: 1024px) {
    .home__header__logo__burguer-menu {
        display: none;
    }
    .home__header__logo-letters {
        display: none;
    }
    .home__header__logo {
        background: linear-gradient(180deg, #151314, transparent);
        display: flex;
        width: 100%;
        height: 50%;
    }
    .home__header__logo-image {
        width: 16%;
        height: 56%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home__header__logo-image img {
        width: 63%;
        margin-left: 18px;
    }
    .nav__input {
        display: none;
    }
    .nav_label {
        display: none;
    }
    .home__header__menu {
        position: absolute;
        top: 0;
        left: 160px;
    }
    .home__header__menu ul {
        display: flex;
        gap: 71px;
        list-style: none;
        margin-top: 20px;
        width: 100%;
    }
    .home__header__menu li a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
    .home__header__menu li {
        margin: 5px;
        padding: 9px;
    }
    /* search bar */
    .home__form {
        display: flex;
        justify-content: end;
        width: 82%;
    }
    .home__formgroup {
        position: relative;
        margin: 22px;
    }
    .home__form input {
        font-size: 1rem;
        padding: 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid #151314;
        background: transparent;
        color: black;
    }
    .home__form label {
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 2px;
        transform: translate(10px);
        transition: transform .5s, color .3s;
    }
    .home__form input:focus+.home__form label,
    .home__forminput:not(:placeholder-shown)+.form__label {
        transform: translateY(-12px) scale(.7);
        transform-origin: top left;
    }
    .home__form i {
        color: black;
    }
}