<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head",{
    title : "Tu carrito"
}) %> 

<body class="cart">
    <%- include('/partials/header') %>
    <!-- <main class="home__main">
        <section class="home__main--section">
            <div class="home__main--section--container">
                <h2>cart</h2>
                <p>is empty</p>
            </div>

        </section> -->
    <main class="carrito__main">
        <section class="carrito__main--section">
            <article class="carrito__main--section-article">
                <div class="image--product">
                    <img src="/images/images_Ley-Seca/Cerveza-Ipa.png" alt=" botella ">
                </div>
                <div class="carrito__producto--compra ">
                    <h3 class="title__beer--ipa ">Cerveza "Ipa Patagonica "</h3>
                    <p>
                        Predominan las maltas caramelizadas, que le aportan su color rubí. Carácter intenso debido a la cantidad de lúpulo que la compone. Su característica principal es un amargor bien marcado. Muy floral y aromática. -- Contiene una caja con 12 porrones de
                        355cc.
                    </p>
                    <h4>Total: $2.850</h4>
                    <div class="cantidad--btn ">
                        <p>Cantidad:</p>
                        <button class="btn--agregar ">- 1 +</button></div>
                
                </div>


            </article>
        </section>
        <hr>
        <section class="cart__main--section ">
            <div class="cart__main--section--btn ">
                <button>Vaciar carrito</button>
                <button>Volver a la tienda</button>
            </div>

        </section>
        <div class="description ">
            <h2 class="title__description ">Titulo</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident aut harum modi consectetur obcaecati. Iusto, architecto accusantium cum quia expedita, non inventore fuga tenetur quaerat excepturi voluptas, laborum a ipsam.</p>
        </div>
        <%- include('/partials/footer') %> 
        <div class="conteiner__pagar--btn ">
            <button class="pagar-btn ">
                <p>Pagar :</p>
                <small>Subtotal :</small>
            </button>
        </div>
    </main>

</body>

</html>