<%- include('./partials/head', { title : 'Home' }) %>

    <body class="home">



        <%- include('./partials/navbar') %>


            <!-- MAIN -->

            <main class="main__experience">
                <div class="experience__image">
                    <!-- <img src="/images/background/domos-background.jpeg" alt=""> -->


                    <div class="main__experience__card">
                        <div class="main__experience_text">
                            <h1>Cervecería Ley Seca</h1>
                            <p>Bienvenidos a domos de Ley Seca. Vení a disfrutar con quien quieras de esta experiencia única. Hace tu reserva con anticipación y enterate de los beneficios que tenemos para vos.
                            </p>
                            <a href=""> <button class="button">Reservar</button></a>
                        </div>
                    </div>

                </div>







            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>