<%- include('./partials/head', { title : 'Home' }) %>

    <body class="home">



        <%- include('./partials/header') %>


            <!-- MAIN -->

            <main class="home__main">

                <!-- MAIN SECTION PRODUCTS -->

                <h1 id="title_shop">Los elegidos para vos</h1>
                <section class="home__main__section__products">

                    <% productsDiscount.forEach(({id, name, price , discount, image}) => { %>
                        <%- include('./partials/products',{
                    id, 
                    name,
                    price,
                    discount,
                    image,
                    toThousand

                 }) %>
                            <% }) %>



                </section>

                <!-- SECTION EXPERIENCE -->
                <h1 id="title_experience">EXPERIENCIAS</h1>
                <section class="home__main__section__experience">

                    <article class="home__main__section--experience">
                        <label>RESERVA ACÁ</label>
                        <div class="home__main__description-experience">
                            <img src="/images/images_Ley-Seca/experiencia-domos.jpeg" alt="">

                            <h2>DOMOS</h2>
                            <p> Viví una experiencia única y disfrutá lo mejor de nuestra naturaleza.</p>


                        </div>
                    </article>

                    <article class="home__main__section--experience">
                        <label>RESERVA ACÁ</label>
                        <div class="home__main__description-experience">
                            <img src="/images/images_Ley-Seca/experiencia-patagonia.png " alt="">

                            <h2>EXPERIENCIA PATAGONIA</h2>
                            <p> Viví la Patagonia de una manera diferente en un viaje único.</´p>


                        </div>
                    </article>

                    <article class=" home__main__section--experience">
                        <label>Conocé más</label>
                        <div class="home__main__description-experience ">
                            <img src="/images/images_Ley-Seca/instalaciones-tanques.webp" " alt=" "> 

                            <h2>TOUR CERVECERO</h2>
                            <p> Vení a conocer como se hace nuestra cerveza y todos sus secretos.</p>
                        </div>
                    </article>



                    <article class=" home__main__section--experience-none ">

                        <label>Conocé más</label>
                        <div class=" home__main__description-experience ">

                      <img src=" /images/images_Ley-Seca/experiencia-instalaciones.jpg " alt=" ">
                            <h2 id=" sucursales ">NUESTROS BARES</h2>
                            <p> Descubrí todas nuestras sucursales.</p>
                        </div>
                    </article>


                    <article class=" home__main__section--experience-2 ">
                   <div class="home__main__description-experience-2 ">
                    <img src="/images/logos/barriles_banner.jpg " alt=" ">
                    <h2 id=" sucursales ">NUESTROS BARES</h2>
                  <p> Descubrí todas nuestras sucursales.</p>
                  
                   </div>
                    
                    </article>

                </section>









            </main>
            
            <%- include('./partials/footer') %> 
            
    </body>

    </html>