<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Ley Seca</title>
</head>

<body class="body__register">
    <header class="homeheader">

        <!-- HEADER-LOGO -->

        <div class="homeheaderlogo">

            <div class=" homeheaderlogo-letters ">
                <a href="/"> <img src="/images/logos/LETRAS_LEY-SECA2.png" alt=""></a>
            </div>
            <!-- BURGUER-MENU -->

            <div class="homeheaderlogoburguer-menu">
                <img src="/images/hamburger-button.jpg" alt="">
            </div>




            <!-- HEADER-NAVBAR -->

            <nav class="homeheadermenu">

                <ul>
                    <li><a href=" ">Productos</a></li>
                    <li><a href=" ">Shop</a></li>
                    <li><a href=" ">Experiencias</a></li>
                    <li><a href=" ">Armá tu combo</a></li>
                </ul>



            </nav>

        </div>


    </header>



    <div class="container">
        <div class="form__titulo">
            <h2>Crear cuenta</h2>
        </div>
        <form class="form__reg" action="">


            <input class="input" type="text" placeholder="  Nombre" required autofocus>

            <input class="input" type="text" placeholder="  Apellido" required>

            <input class="input" type="text" placeholder=" Correo electronico" required>

            <input class="input" type="password" placeholder="  Contraseña" required>

            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR">
                <input class="btn__reset" type="reset" value="LIMPIAR">

            </div>
            <p class="p-form"> ¿Ya tenés cuenta? <a href="/users/login" class="link">Iniciar Sesión</a> </p>
        </form>
    </div>






</body>

</html>