<%- include("./partials/head",{
        title : "Terminos y condiciones"
    }) %>

    <body>


        <%- include('./partials/navbar') %>
            <main>


                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vel accusamus enim esse, expedita distinctio alias, laudantium fugit non hic aperiam dolores, id provident animi ea earum molestias reprehenderit cupiditate. Dignissimos error ducimus enim
                    dolor adipisci aliquid fugit, architecto unde reprehenderit. Porro aperiam placeat enim inventore excepturi sit eius corporis quo dolorem fugiat? Impedit minima est mollitia autem quos non. Accusamus consectetur quidem totam, expedita
                    alias adipisci temporibus laboriosam labore ab quaerat corrupti nisi voluptatibus, quisquam dignissimos est necessitatibus explicabo veniam dolores repudiandae eius sint repellat eaque dolorem libero. Aliquam! Minus, esse unde praesentium,
                    culpa accusamus porro labore laudantium officiis eligendi nostrum in numquam pariatur? Veniam similique adipisci ipsam quasi distinctio mollitia deserunt. Consequuntur, laborum illum minima doloremque voluptates libero? Quas corrupti
                    dolores et quis veniam rem exercitationem at neque distinctio minus culpa consectetur aperiam quibusdam quisquam sapiente itaque laudantium ullam ipsam vel rerum ad, ipsum reiciendis dicta? Amet, ad? Molestias non optio quas deserunt
                    fuga itaque? Eligendi mollitia molestias vero laudantium explicabo, nisi porro totam, eaque dicta eum nemo! Molestiae, cupiditate possimus? Similique enim numquam ratione praesentium, officiis nesciunt. Quia ducimus neque voluptatibus
                    praesentium nam architecto excepturi ex, itaque ipsam est, consectetur molestias molestiae laboriosam porro hic sint dolores officiis adipisci facilis consequatur voluptatum, esse dolore deserunt explicabo. Quis? Iusto rem, voluptatum
                    dolore iure eius ea perspiciatis earum magnam, possimus doloribus nihil ut placeat magni blanditiis, consectetur voluptatem. Veritatis repellendus deleniti adipisci modi debitis dolores, incidunt expedita reprehenderit soluta. Modi
                    aliquam eos ratione enim quis maiores iste possimus et ipsum, voluptas quasi aut soluta ea ut corrupti dolores reprehenderit nemo adipisci commodi nulla perferendis quas cumque obcaecati. Impedit, earum! Ex temporibus ea tempora omnis,
                    fugiat pariatur. Ea dolorum nihil repellendus molestiae culpa, distinctio porro magni enim corporis, reprehenderit maxime consequuntur libero nisi quis ducimus numquam rem harum non neque! Quos inventore quidem ea consequuntur! Neque
                    repellat numquam id! Ducimus repudiandae, illo numquam exercitationem dolorem esse explicabo sit odio rerum, deleniti mollitia vel harum quia omnis, eos dolor ipsam ab? Soluta rerum modi dolorum debitis sed nemo repellendus, veniam
                    suscipit, non doloribus tempore in saepe, reiciendis aliquam possimus. Maiores asperiores consequatur ut dolorem magnam quam at ipsa veritatis sit recusandae? Assumenda odio quam possimus laboriosam odit exercitationem, dolorum dolor
                    quas nobis beatae ipsa dicta minima placeat asperiores id iste impedit voluptatem quia? Facilis accusantium, quae ullam incidunt quam dolor quos. Impedit unde non, officiis suscipit enim maiores totam omnis mollitia, vitae provident
                    veniam quia veritatis aut dicta inventore? Mollitia reiciendis sit doloremque odio possimus dolore quidem at! Enim, pariatur nemo! Sapiente reiciendis obcaecati quis eius maxime dolorem fugit ratione, placeat quod provident! Doloribus
                    aut atque quasi. Exercitationem magnam, in voluptatem a vel, doloremque consequuntur distinctio repellendus tempore omnis debitis. Totam. Nihil praesentium corrupti quod exercitationem dicta? Quia, nemo minima? Quos id earum quia quas,
                    nesciunt praesentium dolor cum, amet, reprehenderit perspiciatis molestias totam? Consectetur, tenetur sed accusamus excepturi odit qui! Laboriosam deserunt, minus alias maiores eaque eligendi dolore voluptates quod, voluptas quos
                    mollitia porro! Aliquid provident officia enim asperiores vero corporis praesentium deleniti beatae doloribus quas, magnam temporibus non aperiam. Voluptatem reprehenderit aliquid ullam molestias neque itaque porro dignissimos consectetur
                    nihil, eaque modi sint non hic eius soluta tempora architecto alias sequi sapiente. Harum quis illo praesentium vel rem aspernatur. Repellat, consequatur cum ipsam consectetur cupiditate explicabo totam, sapiente aut, odio excepturi
                    unde impedit quasi eum. A ipsam delectus voluptatem, exercitationem rerum enim sed culpa illum iure, quos asperiores cumque. Similique mollitia molestiae assumenda? Reprehenderit incidunt eius eum ab, id tempore maxime commodi? Harum
                    adipisci, vel ab similique quas maxime esse dolore aspernatur nam corporis tempore nulla fugit, necessitatibus nisi! Itaque iure est odit qui deserunt aliquid temporibus praesentium molestias a provident voluptatum sequi totam unde
                    cumque, aut vero natus impedit suscipit nobis explicabo dignissimos nihil tempore ullam. Sint, ad! Numquam itaque accusamus cumque quasi eius eveniet repellendus ea repellat officiis. Eius reiciendis illum cum magnam? Similique excepturi
                    expedita saepe enim eligendi commodi odio at architecto, quod culpa ad repudiandae. Perferendis dolor sed harum blanditiis eos velit at nihil neque cumque quis non illum, obcaecati veniam fugiat pariatur excepturi. Esse, quae accusamus.
                    Labore quasi mollitia voluptates voluptate consequatur voluptatem tempora. Quae unde eius, tempora quo aut officiis asperiores hic natus exercitationem explicabo molestias rerum assumenda rem perspiciatis iste, mollitia, deleniti fuga?
                    Minima rerum ab sint totam necessitatibus cupiditate deleniti ipsum! Pariatur quia dicta dolores enim expedita deleniti ea, praesentium a reiciendis? Distinctio quaerat similique quibusdam ut. Ut placeat iure voluptatibus dolorem neque
                    nesciunt, omnis quod velit nam, necessitatibus, quidem et. Est voluptates beatae veritatis ut quos fugiat veniam. Debitis nihil dolore aut mollitia cumque corporis ea repudiandae eum veniam ipsum. Est minima perspiciatis alias? Magni,
                    quam. Nisi dolorem odit hic? Exercitationem aliquam soluta labore quia commodi qui quam sit eveniet dignissimos. Corrupti harum sequi temporibus, sint deserunt officia a modi in molestias ea repellendus voluptas. Voluptate nostrum
                    pariatur sunt impedit. Explicabo, eum asperiores ipsam molestiae, quibusdam natus temporibus perferendis praesentium aspernatur debitis dolore commodi non fugit voluptate impedit veritatis consequuntur assumenda odit, vero consectetur.
                    Fugiat laborum sequi eius consequuntur architecto. Nihil vitae voluptas iure quas ea velit reprehenderit. Quidem inventore nisi sint aperiam cum minima tempore, dicta officia doloremque commodi numquam nostrum provident perferendis
                    eligendi odio. Unde nesciunt quia dicta? Iusto qui rerum sit, ipsa minima odit est vitae sed adipisci, aliquid nemo esse ipsum animi accusantium eos quia omnis nam, in dolorum velit tenetur rem. Doloribus, facilis! Consequatur, odio?
                </p>
            </main>
            <%- include('./partials/footer') %>


    </body>

    </html>