@media (min-width: 0px) and (max-width: 767px) {
    /* HEADER /
    .home__header {
        background-image: var(--img);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    / LOGO */
    .cartheaderlogo {
        background-color: var(--colorBlack);
        display: flex;
        width: 100%;
        height: 15%;
    }
    .form {
        display: none;
    }
    .form--login--cart a {
        color: var(--colorPearlGray);
    }
    .cartheaderlogo-letters {
        width: 80%;
    }
    .cartheaderlogo img {
        width: 30%;
        height: 100%;
    }
    .cartheaderlogoburguer-menu {
        width: 20%;
    }
    .cartheaderlogoburguer-menu img {
        width: 100%;
        height: 100%;
    }
    .cartheadermenu {
        display: none;
    }
}


/*main*/


/* .home__main--section--container {
    padding: 10px 20px;
    margin: 70px 0;
}

.home__main--section--container h1 {
    margin-bottom: 12px;
}


.home__main--section--container2 {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

} */


/* .carrito__main--section-article{
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.83);
-webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.83);
-moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.83);
} */

.cart {
    font-family: var(--fontBodyText);
    background-color: #fff;

}
.carrito__main--section-article{
    background-color: #fff;
}
.carrito__main--section-article img{
    width: 100%;
}

.carrito__producto--compra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 20px;
}

.carrito__producto--compra p {
    font-size: 1.2rem;
}

.title__beer--ipa {
    font-size: 30px;
}

.cantidad--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn--agregar {
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #151314;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.btn--agregar:hover {
    background-color: #362f32;
}

.cart__main--section--btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.cart__main--section--btn button {
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #151314;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.cart__main--section--btn button:hover {
    background-color: #362f32;
}

.description {
    text-align: center;
    padding: 70px 20px;
    background-color: black;
    color: #fff;
    line-height: 40px;
}

.description h2 {
    font-size: 35px;
    font-weight: bold;
}

.description p {
    font-size: 1.2rem;
}


/* FOOTER */

.cart__footer {
    background-color: var(--colorBlack);
}

.cart__footer__redes {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cart__footer__redes img {
    width: 100%;
    opacity: 50%;
}

.cart__footer__redes-icon {
    justify-content: space-around;
    display: flex;
    font-size: 26px;
    color: #fff;
    width: 100%;
}

.cart__footer__logo-letters {
    display: inline-block;
    width: 23%;
    display: none;
}

.cart__footer__logo-letters img {
    width: 100%;
}

.cart__footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__footer__links ul {
    list-style: none;
    margin: 10px;
    text-align: center;
}

.cart__footer__links li a {
    color: var(--colorPearlGray);
    text-decoration: none;
}

.cart__footer__logo-letters li {
    margin: 5px;
}

hr {
    width: 100%;
    margin: 8px
}

.cart__footer__terms {
    margin: 10px;
    color: var(--colorGray);
    font-size: 16px;
    text-align: center;
}

.conteiner__pagar--btn {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.pagar-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
    color: black;
}

.conteiner__pagar--btn button {
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 6px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.conteiner__pagar--btn button:hover {
    background-color: #199600;
}

@media (min-width: 768px) and (max-width:1023px) {
    .cartheader {
        background-image: var(--img);
        background-position: center;
        background-size: cover;
        width: 100%;
        /* height: 350px; */
    }
    .form {
        display: none;
    }
    .cartheaderlogoburguer-menu {
        display: none;
    }
    .cartheaderlogo-image {
        display: none;
    }
    /* nav */
    .cartheaderlogo {
        background-color: var(--colorBlack);
        display: flex;
        width: 100%;
        height: 25%;
    }
    .cartheaderlogo img {
        width: 30%;
        height: 100%;
    }
    .cartheaderlogo-letters {
        width: 20%;
    }
    .cartheaderlogo-letters img {
        width: 100%;
    }
    .carheadermenu {
        display: flex;
        width: 100%;
    }
    .cartheadermenu ul {
        list-style: none;
        margin-top: 34px;
    }
    .cartheadermenu li a {
        color: var(--colorPearlGray);
        text-decoration: none;
    }
    .cartheadermenu li {
        margin: 5px;
        display: inline;
        padding: 42px;
    }
    /*main*/
    .carrito__main--section-article{
        width: 100%;
        display: flex;
    }
    .carrito__main--section-article img{
        width: 70%;
    }
    .image--product{
        width: 70%;
    }
    .carrito__producto--compra {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-bottom: 10px;
        padding: 10px 60px;
        width: 50%;
    }
    .cantidad--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .btn--agregar {
        font-size: 12px;
    }
    .home__main--section--container {
        padding: 10px 60px;
        margin: 70px 0;
    }
    hr {
        display: none;
    }
    .cart__main--section--btn {
        display: none;
        padding: 10px 20px;
        margin-bottom: 15px;
    }
    .description {
        text-align: left;
        padding: 70px 60px;
        background-color: black;
        color: #fff;
        line-height: 40px;
    }
    /*footer*/
    .cart__footer__links {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 60px;
        font-size: 20px;
    }
    .cart__footer__links ul {
        text-align: left;
    }
    .pagar-btn {
        display: none;
    }
}

@media (min-width:1024px) {
    .cartheaderlogo {
        background-color: var(--colorBlack);
        display: flex;
        width: 100%;
        height: 25%;
    }
    .form {
        display: flex;
        background-color: var(--colorBlack);
        padding: 10px 60px;
        justify-content: space-between;
    }
    .form i {
        color: rgb(176 175 175)
    }
    .form__group {
        position: relative;
    }
    .form__group input{
        width: 130%;
        font-family: inherit;
        font-size: 1rem;
        padding: 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background-color: var(--colorBlack);
        color: #fff;
    }
    .form__label {
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 5px;
        transform: translate(10px);
        transition: transform .5s, color .3s;
        color: #fff;
    }
    .form__input:focus+.form__label,
    .form__input:not(:placeholder-shown)+.form__label {
        transform: translateY(-12px) scale(.7);
        transform-origin: top left;
    }
    .form--login--cart {
        font-size: 30px;
        display: flex;
        gap: 24px;
    }
    .cartheaderlogo {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .cartheaderlogo-letters {
        width: 20%;
    }
    .cartheaderlogo-letters img {
        width: 95%;
        margin: 0px 15px;
    }
    .cartheaderlogoburguer-menu {
        display: none;
    }
    .cartheaderlogo-image {
        display: none;
    }
    .cartheadermenu {
        display: flex;
        width: 100%;
        padding-top: 58px;
        padding-left: 100px;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 25px;
    }
    .cartheadermenu ul {
        list-style: none;
        margin-top: 34px;
    }
    .cartheadermenu li a {
        color: var(--colorPearlGray);
        text-decoration: none;
    }
    .cartheadermenu li {
        margin: 5px;
        display: inline;
        padding: 43px;
    }
    /*main*/
    /* .home__main--section--container {
        padding: 10px 60px;
        margin: 70px 0;
    } */
    .carrito__main--section-article {
        width: 100%;
        display: flex;
    }
    .carrito__main--section-article img {
        width: 70%;
    }
    .image--product {
        width: 50%;
    }
    .carrito__producto--compra {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-bottom: 10px;
        padding: 10px 60px;
        width: 50%;
    }
    .cantidad--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .btn--agregar {
        font-size: 12px;
    }
    hr {
        display: none;
    }
    .cart__main--section--btn {
        display: none;
        padding: 10px 20px;
        margin-bottom: 15px;
    }
    /*footer*/
    .cart__footer__redes {
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: black;
    }
    .cart__footer__redes img {
        width: 50%;
        opacity: 50%;
    }
    .cart__footer__redes-icon {
        justify-content: space-around;
        position: absolute;
        bottom: 70px;
        display: flex;
        font-size: 26px;
        color: #fff;
        width: 50%;
    }
    .cart__footer__logo-letters {
        display: none;
        width: 23%;
    }
    .cart__footer__logo-letters img {
        width: 60%;
    }
    .cart__footer__links {
        display: flex;
        width: 50%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 14px;
    }
    .cart__footer__links ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 7px;
        align-items: center;
    }
    .cart__footer__links li a {
        color: var(--colorPearlGray);
        text-decoration: none;
    }
    .cart__footer__logo-letters li {
        margin: 5px;
        display: inline;
    }
    hr {
        width: 80%;
        margin-left: 10%;
    }
    .cart__footer__terms {
        margin: 10px;
        color: var(--colorGray);
        font-size: 14px;
        text-align: center;
    }
    .conteiner__pagar--btn {
        display: none;
    }
}