@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant:wght@700&family=Open+Sans&family=Raleway:wght@700&family=Roboto&family=Work+Sans:ital,wght@0,200;1,400&display=swap');

* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    
}



    
    .homeheaderlogo {
        background-color: black;
        display: flex;
        width: 100%;
        height: 25%;
    }
    .homeheaderlogo img {
        width: 30%;
        height: 100%;
    }
    .homeheaderlogo-letters {
        width: 20%;
    }
    .homeheaderlogo-letters img {
        width: 100%;
    }
    .homeheadermenu {
        display: flex;
        width: 100%;
        font-family: 'Bebas Neue'
    }
    .homeheadermenu ul {
        list-style: none;
        margin-top: 34px;
    }
    .homeheadermenu li a {
        color:#dedede ;
        text-decoration: none;
    }
    .homeheadermenu li {
        margin: 5px;
        display: inline;
        padding: 43px;
    }
    

.contenedor {
    
    width: 100%;
}      
    
   
    





h1 {
    color: #151314;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight: 700;
}


input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 80%;
    padding: 10px ;
    border: none;
    outline: none;


}



input::placeholder {

    color: #6f7174;
    font-size: 1em;
    font-family: sans-serif;


}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px #151314 solid;
    border-radius: 5px;


}

.icono {
    min-width: 30px;
    text-align: center;
    color: #151314;
}

.button {
    
    border: none;
    width: 100%;
    color: white;
    background-color: #151314;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px ;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-weight: 600;
    margin-top: 10px;
    
}

.button:hover {
    background: gray;
}

p {
    text-align: center;
    font-size: 16px;
}

.form__checkbox {
    
    margin-bottom: 15px;
    
    
    
}

.link {
    text-decoration: none;
    color:#151314 ;
    font-weight: 600;
}

.link:hover {
    color: #999;
}
.forms__footer__redes-icon{
    color: white;
}









@media (min-width: 0px) and (max-width: 767px) {
    
    .home__header {
        
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    
    .homeheaderlogo {
        background-color: black;
        display: flex;
        width: 100%;
        height: 15%;
    }
    .homeheaderlogo-letters {
        width: 80%;
    }
    .homeheaderlogo img {
        width: 30%;
        height: 100%;
    }.homeheaderlogoburguer-menu {
        width: 20%;
        
    }
    
    .homeheaderlogoburguer-menu img {
        width: 100%;
        height: 100%;
    }

    .homeheadermenu {
        display: none;
    } 
    .contenedor {
        margin: auto;
        width: 60%;
        margin-top: 50px;
}


}
.homeheaderlogo-image {
        display: none;
    }

    @media (min-width: 768px) and (max-width:1023px) {
        .home__header__logo__burguer-menu {
            display: none;
        }
        .home__header__logo-image {
            display: none;
        }
        .home__header__logo {
            background-color: var(--colorBlack);
            display: flex;
            width: 100%;
            height: 25%;
        }
        .home__header__logo-letters {
            width: 20%;
        }
        .home__header__menu {
            display: flex;
            width: 100%;
        }
        .home__header__menu ul {
            list-style: none;
            margin-top: 34px;
        }
        .home__header__menu li a {
            color: var(--colorPearlGray);
            text-decoration: none;
        }
        .home__header__menu li {
            margin: 5px;
            display: inline;
            padding: 43px;
        }


    }