<footer class=" home__footer ">

    <div class=" home__footer__redes ">
        <img src=" /images/logos/background_ley-seca.webp " alt=" ">
        <div class=" home__footer__redes-icon ">
            <h4><i class=" fa-brands fa-facebook "></i></h4>
            <h4><i class=" fa-brands fa-instagram "></i></h4>
            <h4><i class=" fa-brands fa-youtube "></i></h4>
            <h4><i class=" fa-brands fa-whatsapp "></i></h4>
        </div>


    </div>

    <div class=" home__footer__logo-letters ">
        <a href="#home__header "> <img src=" /images/logos/LETRAS_LEY-SECA2.png " alt=" "></a>
    </div>

    <div class=" home__footer__links ">
        <ul>
            <li><a href=" ">Productos</a> </li>
            <li><a href="#title_shop ">Shop</a></li>
            <li><a href="#title_experience ">Experiencias</a></li>
            <li><a href="/users/register ">Registrate</a></li>





        </ul>

    </div>
    <hr>
    <div class=" home__footer__links ">
        <ul>
            <li><a href="/index/terminos">TÉRMINOS Y CONDCIONES</a></li>
            <li><a href=" ">SOBRE NOSOTROS</a></li>
            <li><a href=" ">POLÍTICAS DE PRIVACIDAD</a></li>
            <li><a href="#sucursales ">FRANQUICIAS</a></li>
        </ul>
    </div>

    <div class=" home__footer__terms ">
        <p>
            BEBER CON MODERACIÓN, PROHINIDA SU VENTA A MENORES DE 18 DE AÑOS| ©COPYRIGHT LEY SECA S.R.L 2022. TODOS LOS DERECHOS RESERVADOS.
        </p>

    </div>


</footer>