<header class="home__header">
  <div class="home__header__logo">
    <div class="home__header__logo-letters">
      <a href="/"><img src="/images/logos/LETRAS_LEY-SECA2.png" /></a>
    </div>

    <div class="home__header__logo-image">
      <a href="/"><img src="/images/logos/logo_ley_seca.png" /></a>
    </div>

    <!-- SEARCH-BAR -->
    <form action="/results" method="GET" class="home__form">
      <div class="home__formgroup">
        <input
          type="text"
          name="keywords"
          class="home__forminput"
          autocomplete="off"
        />
        <button type="submit" class="home__formbutton">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
    <div class="icon">
      <% if (locals.userLogin) { %>
      <a href="/users/profile"><i class="fa-solid fa-user"></i></a>
      <i class="fa-solid fa-cart-shopping"></i>
      <li class="logout"><a href="/users/logout">salir</a></li>
      <% } else { %>
      <a href="/users/login"><i class="fa-solid fa-user"></i></a>
      <% } %>
    </div>
  </div>
  <!-- HEADER-NAVBAR -->
  <nav class="home__header__menu">
    <!-- burguer menu -->
    <label for="menu" class="nav_label">
      <i class="fa-solid fa-bars"></i>
    </label>
    <input type="checkbox" id="menu" class="nav__input" />
    <!-- burguer menu -->

    <div class="home__header__browser-menu__items">
      <ul>
        <% if (locals.userLogin) { %>
        <li><a href="#title_experience">Experiencias</a></li>
        <li><a href="/products/products">Productos</a></li>
        <li><a href="/products/shop">Shop</a></li>
        <li class="logoutLi"><a href="/users/logout">salir</a></li>

        <% if (userLogin.rol==='admin' ) { %>
        <li><a href="/products/create">Vender</a></li>
        <% } %> <% } else { %>

        <li><a href="/products/products">Productos</a></li>
        <li><a href="/products/shop">Shop</a></li>
        <li><a href="#title_experience">Experiencias</a></li>

        <% } %>
      </ul>
    </div>
  </nav>
</header>
