<header id="home__header">

    <!-- HEADER-LOGO -->

    <div class="home__header__logo">

        <div class=" home__header__logo-letters ">
            <a href="/"><img src="/images/logos/LETRAS_LEY-SECA2.png" alt=""></a>
        </div>



        <div class="home__header__logo-image">
            <a href="/"><img src="/images/logos/logo_ley_seca.png"></a>
        </div>


        <!-- SEARCH-BAR -->
        <form class="home__form">
            <div class="home__formgroup">
                <input type="text" id="name" class="home__forminput" placeholder=" ">
                <label for="name" class="form__label"><i class="fa-solid fa-magnifying-glass"></i></label>
            </div>
        </form>

    </div>

    <!-- HEADER BUTTON -->

    <div class="button__know-more">
        <button class="button" type="button">Conocé más</button>
    </div>

    <!-- HEADER-NAVBAR -->
    <nav class="home__header__menu">
        <label for="menu" class="nav_label">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="menu" class="nav__input">
        <div class=" home__header__browser-menu__items">

            <ul>
                <li><a href="/products/products">Productos</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="/products/experience">Experiencias</a></li>
                <li><a href="/users/register">Registrate</a></li>
            </ul>

        </div>


    </nav>

</header>