<!-- modal -->

<div id="modal" class="modal-none-ok">
    <video class="video" id="video" autoplay muted loop src="/video/presentacion.mp4">
        <source src="/video/presentacion.mp4" type="video/mp4" />
    </video>
    <h2 id="title-video">¿Sos mayor de edad?</h2>
    <div id="button-contain">

        <button type="button" id="confirm" class="button" onclick="ageValidation(true)">Si</button>

        <button type="button" id="deny" class="button" onclick="ageValidation(false)">No</button>
    </div>
</div>
<script src="/js/index.js"></script>

<!-- modal -->