<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cartModalLabel">Mi Compra</h1>
        </div>
        <div class="modal-body table-responsive px-2" id="box-cart">
          <table class="table" id="cart-box">
            <thead>
              <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="cart-items">
              
             
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-between gap-2">

                <div class="d-flex gap-2">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir comprando</button>
                </div>
            </div>
        
        </div>
      </div>
    </div>
  </div>