<article class="home__main__section--product">
    <label> 25% Off</label>

    <div class="home__main__description-products">
        <a href="/products/productDetail" class="home__detalle"><img src="/images/images_Ley-Seca/Cerveza-Ipa.png" alt=""></a>
        <div class="description-products">
            <h3 class="descount">$3.800</h3>
            <h3>$2.850</h3>
            <h3> IPA PATAGÓNICA 355ccv x 12</h3>
        </div>

        <div class="home__button__products">

            <a href="/products/carrito"> <button class="button">Comprar</button></a>
        </div>

    </div>
</article>






<!-- <article class="home__main__section--product">
    <label> 25% Off</label>

    <div class="home__main__description-products">
        <a href="/products/productDetail" class="home__detalle"><img src="/images/images_Ley-Seca/Cerveza-Ipa.png" alt=""></a>
        <div class="description-products">
            <h3 class="descount">$3.800</h3>
            <h3>$2.850</h3>
            <h3> IPA PATAGÓNICA 355ccv x 12</h3>
        </div>

        <div class="home__button__products">

            <a href="/products/carrito"> <button class="button">Comprar</button></a>
        </div>

    </div>
</article>


<article class="home__main__section--product">
    <label> 10% Off</label>

    <div class="home__main__description-products">
        <a href="" class="home__detalle"><img src="/images/images_Ley-Seca/Cerveza-combo_colonia-Old.png" alt=""></a>
        <div class="description-products">
            <h3 class="descount">$3.800</h3>

            <h3>$2.850</h3>
            <h3>COLONIA OLD PATAGÓNICA 355ccv x 12</h3>
        </div>

        <div class="home__button__products">

            <button class="button">Comprar</button>
        </div>

    </div>
</article>




<article class="home__main__section--product">
    <label> 20% Off</label>

    <div class="home__main__description-products">
        <a href="" class="home__detalle"><img src="/images/images_Ley-Seca/Cervezas-combo_Ipa-raices.png" alt=""></a>
        <div class="description-products">
            <h3 class="descount">$750</h3>
            <h3>$600</h3>
            <h3>COMBITO DÚO: Dos porrones.</h3>
        </div>

        <div class="home__button__products">

            <button class="button">Comprar</button>
        </div>

    </div>
</article>






<article class="home__main__section--product">
    <label> 10% Off</label>

    <div class="home__main__description-products">
        <a href="" class="home__detalle"><img src="/images/images_Ley-Seca/Cervezas-combo_golden-sureña.png" alt=""></a>
        <div class="description-products">
            <h3 class="descount">$700</h3>
            <h3>$630</h3>
            <h3>COMBITO DÚO: Dos porrones.</h3>
        </div>

        <div class="home__button__products">

            <button class="button">Comprar</button>
        </div>

    </div>
</article>

 -->