<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <title>detalle</title>
</head>

<body class="detalle">
    <header class="detalle__header">

        <!-- HEADER-LOGO -->

        <div class="detalle__header--logo">

            <div class="detalle__header--logo-letters ">
                <a href="/"> <img src="/images/logos/LOGO_LEY-SECA2.png" alt=""></a>
            </div>
            <!-- BURGUER-MENU -->

            <div class="detalle__header--logoburguer-menu">
                <img src="/images/Menu-burguer.jpeg" alt="">
            </div>




            <!-- HEADER-NAVBAR -->

            <nav class="detalle__header--menu">

                <ul>
                    <li><a href=" ">Productos</a></li>
                    <li><a href=" ">Shop</a></li>
                    <li><a href=" ">Experiencias</a></li>
                    <li><a href="/register">Registrate</a></li>
                </ul>



            </nav>
            <form class="detalle__form">
                <div class="detalle__formgroup">
                    <input type="text" id="name" class="detalle__forminput" placeholder=" ">
                    <label for="name" class="detalle__form__label"><i class="fa-solid fa-magnifying-glass"></i></label>
                </div>
            </form>

        </div>


    </header>

    <main class="detalle__main">
        <section class="detalle__main--section">
            <article class="detalle__main--section-producto">
                <div class="detalle__section-producto">
                    <img src="/images/images_Ley-Seca/Cerveza-Ipa.png" alt="botella">
                </div>
                <div class="detalle__producto-detalle">
                    <h3>IPA PATAGÓNICA 355cc x 12</h3>
                    <p>
                        Predominan las maltas caramelizadas, que le aportan su color rubí. Carácter intenso debido a la cantidad de lúpulo que la compone. Su característica principal es un amargor bien marcado. Muy floral y aromática. -- Contiene una caja con 12 porrones de
                        355cc.


                    </p>
                    <h4>$2.850</h4>
                    <p>Cantidad</p>
                    <button>- 1 +</button>
                    <div class="detalle__button--carrito">
                        <a href="/carrito"> <button>AGREGAR AL CARRITO</button></a>
                    </div>
                </div>


            </article>
        </section>

        <h2 class="detalle__text--sugerencia">Te puede interesar</h2>
        <section class="detalle__main__section__products">


            <article class="detalle__main__section--product">
                <label> 25% Off</label>

                <div class="detalle__main__description-products">
                    <a href="/productDetail"><img src="/images/images_Ley-Seca/salsas-bbq.jpg" alt=""></a>
                    <div class="detalle__description-products">
                        <h3 class="descount">$2.780</h3>
                        <h3>$2.085</h3>
                        <h3> SALSAS LEY SECA: 4 BBQ STOUT</h3>
                    </div>

                    <div class="detalle__button__products">

                        <button class="button">Comprar</button>
                    </div>

                </div>
            </article>


            <article class="detalle__main__section--product">
                <label> 10% Off</label>

                <div class="detalle__main__description-products">
                    <img src="/images/images_Ley-Seca/Cervezas-combox6.jpg" alt="">
                    <div class="detalle__description-products">
                        <h3 class="descount">$1.650</h3>

                        <h3>$1.485</h3>
                        <h3>COMBO DEGUSTACIÓN: 6 Porrones surtidos especiales.</h3>
                    </div>

                    <div class="detalle__button__products">

                        <button class="button">Comprar</button>
                    </div>

                </div>
            </article>








            <article class="detalle__main__section--product">
                <label> 10% Off</label>

                <div class="detalle__main__description-products">
                    <img src="/images/images_Ley-Seca/Cervezas-combo_golden-sureña.png" alt="">
                    <div class="detalle__description-products">
                        <h3 class="descount">$700</h3>
                        <h3>$630</h3>
                        <h3>COMBITO DÚO: Dos porrones.</h3>
                    </div>

                    <div class="detalle__button__products">

                        <button class="button">Comprar</button>
                    </div>

                </div>
            </article>



        </section>

    </main>

    <footer class="detalle__footer">

        <div class="detalle__footer__redes">
            <img src="/images/logos/background_ley-seca.webp" alt="">
            <div class="detalle__footer__redes-icon">
                <h4><i class="fa-brands fa-facebook"></i></h4>
                <h4><i class="fa-brands fa-instagram"></i></h4>
                <h4><i class="fa-brands fa-youtube"></i></h4>
                <h4><i class="fa-brands fa-whatsapp"></i></h4>
            </div>


        </div>

        <div class=" detalle__footer__logo-letters ">
            <img src="/images/logos/LOGO_LEY-SECA2.png" alt="">
        </div>

        <div class="detalle__footer__links">
            <ul>
                <li><a href="">Productos</a> </li>
                <li><a href="">Shop</a></li>
                <li><a href="">Experiencias</a></li>
                <li><a href="">Registrate</a></li>
            </ul>
        </div>
        <hr>
        <div class=" detalle__footer__links ">
            <ul>
                <li><a href="">TÉRMINOS Y CONDCIONES</a></li>
                <li><a href="">SOBRE NOSOTROS</a></li>
                <li><a href="">POLÍTICAS DE PRIVACIDAD</a></li>
                <li><a href="">FRANQUICIAS</a></li>
            </ul>
        </div>


        <div class="detalle__footer__terms">
            <p>
                BEBER CON MODERACIÓN, PROHINIDA SU VENTA A MENORES DE 18 DE AÑOS| ©COPYRIGHT LEY SECA S.R.L 2022. TODOS LOS DERECHOS RESERVADOS.
            </p>

        </div>


    </footer>
</body>

</html>