<%- include('../partials/head', { title : 'Home' }) %>

    <body>
        <div>
            <video id="video" autoplay muted loop src="/video/presentacion.mp4" width="420" height="240">
                <source src="/video/presentacion.mp4" type="video/mp4">
            </video>
        </div>
        <script defer src="/js/index.js">

        </script>
    </body>

    </html>