<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : 'Login' }) %>

    <body class="login">



        <%- include('../partials/navbar') %>



            <div class="container">
                <div class="form__titulo">
                    <h2>Inicia Sesión</h2>
                </div>
                <form class="form__reg" action="">

                    <input class="input" type="text" placeholder="  Usuario" required autofocus>

                    <input class="input" type="password" placeholder="  Contraseña" required>

                    <div class="btn__form">
                        <input class="btn__submit" type="submit" value="INGRESAR">
                        <input class="btn__reset" type="reset" value="LIMPIAR">
                    </div>
                    <p class="p-form"> ¿No tenés cuenta? <a class="forms__" href="/users/register" class="link">Registrate acá</a> </p>
                </form>

            </div>
            <%- include('../partials/footer') %>


    </body>

</html>