<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : 'Login' }) %>

    <body class="login">



        <%- include('../partials/navbar') %>
            <main class="main__profile-edit">

                <div class="main__profile-section-edit">

                    <h2 class="form__title">Inicia Sesión</h2>

                    <form class="profile-edit" action="">
                        <div class="form__register-container">
                            <div class="form_profile">
                                <input type="text" id="user" class="form__input" name="user">
                                <label for="user" class="form__label">Usuario:</label>

                <div class="main__profile-section-edit">

                    <h2 class="form__title">Inicia Sesión</h2>

                    <form class="profile-edit" action="">
                        <div class="form__register-container">
                            <div class="form_profile">
                                <input type="text" id="user" class="form__input" name="user">
                                <label for="user" class="form__label">Usuario:</label>

                            </div>
                            <div class="form_profile">
                                <input class="form__input" type="password" id="password" name="password">
                                <label class="form__label" for="password">Contraseña:</label>

                            </div>

                            <div class="form__register-button">
                                <button type="submit" class="button" value="Guardar">Ingresar</button>
                                <input type="reset" class="button" value="Salir">
                            </div>
                        </div>
                    </form>

                </div>
                <%- include('../partials/footer') %>


            </main>
    </body>

</html>