.title-created {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 125px;
}

.form-create {
  width: 90%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 167px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.product-detail {
  width: 100%;
  padding: 20px;
}

.form__box {
  width: 100%;
  padding: 10px;
}

textarea {
  resize: none;
}
.form__box-image {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__box--description {
  width: 100%;
  padding: 10px;
}
.form__box-btn {
  display: flex;
  justify-content: center;
}

.label-form {
  padding-left: 4px;
}

.input_form {
  outline: none;

  width: 100%;
  height: 58%;
  margin: 0px 1px;
  border-radius: 8px;
  border: 1px solid;
  padding: 10px;
  background-color: #fff;
}

.btn__product:hover {
  background-color: gray;
}

.btn__product {
  width: 50%;
  background-color: rgb(212, 212, 212);
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 10px;
}

/* validaciones */
.is-invalid {
  border: 2px solid #fd05057e;
}
.is-valid {
  border: 2px solid #096d227e;
}

@media (min-width: 768px) {
  .form-create {
    width: 90%;
    background-color: #fff;
    margin: auto;
    margin-bottom: 167px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .product-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .form__box {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn__product {
    width: 90%;
    background-color: rgb(212, 212, 212);
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 10px;
  }
  .input_form {
    outline: none;

    width: 100%;
    height: 58%;
    margin: 0px 1px;
    border-radius: 8px;
    border: 1px solid;
    padding: 10px;
    background-color: #fff;
  }
  .form__box-image {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .form__box--description {
    width: 50%;
    padding: 10px;
  }
  .form__box-btn {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .title-created {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1px;
  }
  .form-create {
    margin-bottom: 30px;
  }
  .product-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .form__box {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn__product {
    width: 90%;
    background-color: rgb(212, 212, 212);
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 10px;
  }
  .input_form {
    outline: none;

    width: 100%;
    height: 58%;
    margin: 0px 1px;
    border-radius: 8px;
    border: 1px solid;
    padding: 10px;
    background-color: #fff;
  }

  .created-container {
    margin-top: 120px;
  }

  /* validaciones */
  .is-invalid {
    border: 2px solid #fd05057e;
  }
  .is-valid {
    border: 2px solid #096d227e;
  }
}
