@media (min-width: 320px) and (max-width: 767px) {
    /* MAIN */
    /* SECCION PRODUCTOS */
    #title_shop {
        text-align: center;
        font-size: 60px;
    }
    #title_experience {
        text-align: center;
        font-size: 60px;
    }
    .home__main__section__products {
        display: flex;
        flex-direction: column;
        margin: 16px;
        gap: 17px;
    }
    .home__main__section--product {
        position: relative;
        background-color: #fff;
        border-radius: 2%;
        padding: 10px;
        box-shadow: 3px 0px 8px;
    }
    .home__main__section--product label {
        background-color: var(--colorOrange);
        position: absolute;
        top: 5px;
        left: 10px;
        padding: 4px;
        border-radius: 10%;
    }
    .home__main__description-products {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .home__main__description-products img {
        width: 100%;
    }
    .home__main__description-products h3 {
        padding-left: 10px;
        text-align: center;
    }
    .descount {
        color: gray;
        text-decoration: line-through;
    }
    .home__button__products {
        display: flex;
        justify-content: center;
    }
    /* SECTION EXPERIENCE */
    .home__main__section__experience {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 17px;
    }
    .home__main__section--experience {
        position: relative;
    }
    .home__main__section--experience label {
        position: absolute;
        color: #fff;
        padding: 3px;
        top: 18px;
        left: 17px;
        border: 3px solid var(--colorOrange);
    }
    .home__main__description-experience {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home__main__description-experience h2 {
        position: absolute;
        bottom: 65px;
        color: #fff;
    }
    .home__main__description-experience p {
        position: absolute;
        text-align: center;
        padding: 5px;
        bottom: 1px;
        font-family: var(--fontText);
        font-weight: 400;
        font-size: 13px;
        color: #fff;
    }
    .home__main__description-experience img {
        width: 100%;
        height: 328px;
        border-radius: 3%;
    }
    .home__main__section--experience-none {
        display: none;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    /* MAIN */
    /* SECCION PRODUCTOS */
    #title_shop {
        text-align: center;
        font-size: 60px;
    }
    #title_experience {
        padding: 20px;
        background: radial-gradient(#151314, gray);
    }
    .home__main__section__products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 16px;
        gap: 9px;
    }
    .home__main__section--product {
        position: relative;
        width: 46%;
        margin: 10px;
        background-color: #fff;
        border-radius: 2%;
        padding: 9px;
        box-shadow: 3px 0px 8px;
    }
    .home__main__section--product img {
        width: 100%;
    }
    .home__main__section--product label {
        background-color: var(--colorOrange);
        position: absolute;
        top: 5px;
        left: 10px;
        padding: 4px;
        border-radius: 10%;
    }
    .description-products {
        margin: 20px;
    }
    .home__main__description-products h3 {
        padding-left: 10px;
        text-align: center;
    }
    .descount {
        color: gray;
        text-decoration: line-through;
    }
    .home__button__products {
        position: absolute;
        bottom: 0px;
        left: 129px;
    }
    /* SECTION EXPERIENCE */
    .home__main__section__experience {
        display: flex;
        background: radial-gradient(#151314, gray);
        padding: 16px;
        gap: 9px;
    }
    .home__main__section--experience {
        position: relative;
        width: 33%;
    }
    .home__main__description-experience img {
        width: 100%;
        height: 328px;
        border-radius: 3%;
    }
    .home__main__section--experience label {
        position: absolute;
        color: #fff;
        padding: 3px;
        top: 18px;
        left: 17px;
        border: 3px solid var(--colorOrange);
    }
    .home__main__description-experience {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home__main__description-experience h2 {
        position: absolute;
        bottom: 65px;
        color: #fff;
    }
    .home__main__description-experience p {
        position: absolute;
        text-align: center;
        padding: 5px;
        bottom: 1px;
        font-family: var(--fontText);
        font-weight: 400;
        font-size: 13px;
        color: #fff;
    }
    .home__main__section--experience-none {
        display: none;
    }
}

@media (min-width:1024px) {
    /* SECCION PRODUCTOS */
    #title_shop {
        text-align: center;
        font-size: 60px;
    }
    #title_experience {
        padding: 20px;
        font-size: 60px;
        background: radial-gradient(#151314, gray);
    }
    .home__main__section__products {
        display: flex;
        width: 100%;
        height: 510px;
        justify-content: center;
        padding: 27px;
        gap: 9px;
    }
    .home__main__section--product {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 24%;
        margin: 4px;
        background-color: #fff;
        border-radius: 2%;
        box-shadow: 3px 0px 8px;
    }
    .home__main__section--product img {
        width: 66%;
    }
    .home__main__section--product label {
        background-color: var(--colorOrange);
        position: absolute;
        top: 5px;
        left: 10px;
        padding: 10px;
        font-size: 24px;
        border-radius: 10%;
    }
    .home__main__description-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .home__main__description-products img {
        width: 71%;
    }
    /* .home__main__description-products a {
        width: 85%;
        margin-left: 66px;
    } */
    .home__detalle {
        width: 85%;
        margin-left: 66px;
    }
    .description-products {
        margin: 7px;
    }
    .home__main__description-products h3 {
        padding-left: 10px;
        text-align: center;
        font-size: 16px;
    }
    .descount {
        color: gray;
        text-decoration: line-through;
    }
    .home__button__products {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        ;
    }
    .home__main__section__experience {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: radial-gradient(#151314, gray);
        padding: 16px;
        gap: 26px;
    }
    .home__main__section--experience {
        position: relative;
        width: 46%;
    }
    .home__main__description-experience img {
        width: 100%;
        height: 517px;
        border-radius: 3%;
        ;
    }
    .home__main__section--experience label {
        position: absolute;
        color: #fff;
        padding: 3px;
        top: 18px;
        left: 17px;
        border: 3px solid var(--colorOrange);
    }
    .home__main__description-experience {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home__main__description-experience h2 {
        position: absolute;
        bottom: 65px;
        color: #fff;
    }
    .home__main__description-experience p {
        position: absolute;
        text-align: center;
        padding: 5px;
        bottom: 1px;
        font-family: var(--fontText);
        font-weight: 400;
        font-size: 18px;
        color: #fff;
    }
    .home__main__section--experience-none {
        position: relative;
        width: 46%;
    }
    .home__main__description-experience-none img {
        width: 100%;
        height: 517px;
        border-radius: 3%;
        ;
    }
    .home__main__section--experience-none label {
        position: absolute;
        color: #fff;
        padding: 3px;
        top: 18px;
        left: 17px;
        border: 3px solid var(--colorOrange);
    }
}