@media (min-width: 320px) and (max-width: 767px) {
  .section img {
    height: 214px;

    filter: brightness(0.6);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section img {
    height: 369px;
    filter: brightness(0.6);
  }
  .btn-secondary {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 90%;
    font-size: 35px;
    padding-top: 18px;
  }
  .dropdown-menu {
    width: 375px;
    position: absolute !important;
    top: 4px !important;
    height: 379px;
    transition: 0.5s;
    text-align: center;
    background: RGBA(21, 20, 21, 0.96);
    transform: translate3d(48px, 78.5px, 0px) !important;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .section {
    height: 500px;
  }
  .section img {
    height: 430px;
    filter: brightness(0.6);
  }
}

@media (min-width: 1440px) {
  .section img {
    height: 465px;
    filter: brightness(0.6);
  }
}
