@media (min-width: 320px) and (max-width: 767px) {
  /* HEADER */
  .detalle__header {
    display: flex;
    width: 58%;
  }

  /* MAIN */
  .section-detail {
    width: 100%;
    height: 1105px;
    background-image: var(--img-backmove);
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
  }

  .detalle__producto-detalle h3 {
    text-align: center;
    font-size: 30px;
    font-family: var(--fontKaushan);
  }
  .detalle__producto-detalle h4 {
    font-size: 24px;
    font-weight: bold;
  }

  .detalle__producto-detalle p {
    font-size: 21px;
    text-align: center;
    padding: 0px 61px;
  }
  .detalle__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detalle__main--section-producto {
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 151px;
    margin: 35px;
    border-radius: 8px;
    box-shadow: 3px 0px 8px;
    width: 90%;
    margin: auto;
  }
  .detalle__section-producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 254px;
    margin: auto;
  }
  .detalle__section-producto img {
    width: 100%;
    margin: auto;
  }
  .detalle__producto-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .precio-cantidad {
    display: flex;

    justify-content: center;
  }
  .precio-cantidad p {
    padding-left: 8px;
    display: block;
    width: 51%;
  }
  .detalle__button--agregar {
    width: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .detalle__button--agregar button {
    width: 104%;
    border-radius: 8px;
    margin: 10px 0px;
    font-weight: bolder;
  }
  .edit-delete {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-radius: 6px;
  }
  .edit-delete button {
    padding: 8px;
    font-size: 15px;
  }

  .detalle__text--sugerencia {
    font-size: 40px;
    padding: 10px;
    font-family: var(--fontKaushan);
    text-align: center;
  }
  .detalle__main__section__products {
    display: flex;
    flex-direction: column;
    margin: 2px;
    gap: 17px;
  }
  .detalle__main__section--product {
    position: relative;
    background-color: #fff;
    padding: 10px;
  }
  .detalle__main__section--product label {
    background-color: var(--colorOrange);
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 4px;
    border-radius: 10%;
  }
  .detalle__main__description-products {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .detalle__main__description-products img {
    width: 100%;
  }
  .detalle__main__description-products h3 {
    padding-left: 10px;
    text-align: center;
  }
  .descount {
    color: gray;
    text-decoration: line-through;
  }
  .detalle__button__products {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  /* HEADER */
  /* .detalle__header {
    display: flex;
    width: 58%;
  } */
  /* / LOGO */
  /* .detalle__header--logo {
    background-color: #151314;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .detalle__header--logo-letters {
    width: 80%;
  }
  .detalle__header--logo img {
    width: 30%;
    height: 100%;
  }
  .detalle__header--logoburguer-menu {
    width: 20%;
  }
  .detalle__header--logoburguer-menu img {
    width: 100%;
    height: 100%;
  }
  .home__image-background {
    display: none;
  }
  .detalle__header--menu {
    display: none;
  }
  .detalle__form {
    display: none;
  } */
  /* MAIN */
  .section-detail {
    width: 100%;
    height: 1105px;
    background-image: var(--img-backmove);
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
  }

  .detalle__producto-detalle h3 {
    text-align: center;
    font-size: 30px;
    font-family: var(--fontKaushan);
  }
  .detalle__producto-detalle h4 {
    font-size: 24px;
    font-weight: bold;
  }

  .detalle__producto-detalle p {
    font-size: 21px;
    text-align: center;
    padding: 0px 61px;
  }
  .detalle__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detalle__main--section-producto {
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 188px;
    margin: 35px;
    border-radius: 8px;
    box-shadow: 3px 0px 8px;
    width: 90%;
    margin: auto;
  }
  .detalle__section-producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
  .detalle__section-producto img {
    margin: auto;

    width: 310px;
  }
  .detalle__producto-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .precio-cantidad {
    display: flex;

    justify-content: center;
  }
  .precio-cantidad p {
    padding-left: 8px;
    display: block;
    width: 51%;
  }
  .detalle__button--agregar {
    width: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .detalle__button--agregar button {
    width: 104%;
    border-radius: 8px;
    margin: 10px 0px;
    font-weight: bolder;
  }
  .edit-delete {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-radius: 6px;
  }
  .edit-delete button {
    padding: 8px;
    font-size: 15px;
  }

  .detalle__text--sugerencia {
    font-size: 40px;
    padding: 10px;
    font-family: var(--fontKaushan);
    text-align: center;
  }
  .detalle__main__section__products {
    display: flex;
    flex-direction: column;
    margin: 2px;
    gap: 17px;
  }
  .detalle__main__section--product {
    position: relative;
    background-color: #fff;
    padding: 10px;
  }
  .detalle__main__section--product label {
    background-color: var(--colorOrange);
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 4px;
    border-radius: 10%;
  }
  .detalle__main__description-products {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .detalle__main__description-products img {
    width: 100%;
  }
  .detalle__main__description-products h3 {
    padding-left: 10px;
    text-align: center;
  }
  .descount {
    color: gray;
    text-decoration: line-through;
  }
  .detalle__button__products {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .section-detail {
    width: 100%;
    height: 725px;
    background-image: var(--img-backmove);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .detalle__producto-detalle h3 {
    text-align: center;
    font-size: 30px;
    font-family: var(--fontKaushan);
  }
  .detalle__producto-detalle h4 {
    font-size: 24px;
    font-weight: bold;
  }

  .detalle__producto-detalle p {
    font-size: 21px;
    text-align: center;
    padding: 0px 61px;
  }
  .detalle__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detalle__main--section-producto {
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 111px;
    margin: 35px;
    border-radius: 8px;
    box-shadow: 3px 0px 8px;
    width: 61%;
    display: flex;
    margin: auto;
  }
  .detalle__section-producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 554px;
    margin: auto;
  }
  .detalle__section-producto img {
    margin: auto;
    width: 90%;
  }
  .detalle__producto-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .precio-cantidad {
    display: flex;

    justify-content: center;
  }
  .precio-cantidad p {
    padding-left: 8px;
    display: block;
    width: 51%;
  }
  .detalle__button--agregar {
    width: 100%;
    font-weight: bolder;
    display: flex;
    gap: 40px;
    /* justify-content: center; */
  }

  .detalle__button--agregar button {
    width: 104%;
    border-radius: 8px;
    margin: 10px 0px;
    font-weight: bolder;
  }
  .edit-delete {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-radius: 6px;
  }
  .edit-delete button {
    padding: 8px;
    font-size: 15px;
  }

  .detalle__text--sugerencia {
    font-size: 40px;
    padding: 10px;
    font-family: var(--fontKaushan);
    text-align: center;
  }
  .detalle__main__section__products {
    display: flex;
    flex-direction: column;
    margin: 2px;
    gap: 17px;
  }
  .detalle__main__section--product {
    position: relative;
    background-color: #fff;
    padding: 10px;
  }
  .detalle__main__section--product label {
    background-color: var(--colorOrange);
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 4px;
    border-radius: 10%;
  }
  .detalle__main__description-products {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .detalle__main__description-products img {
    width: 100%;
  }
  .detalle__main__description-products h3 {
    padding-left: 10px;
    text-align: center;
  }
  .descount {
    color: gray;
    text-decoration: line-through;
  }
  .detalle__button__products {
    display: flex;
    justify-content: center;
  }
  .container-modal {
    position: absolute;
    width: 100%;
    z-index: 200;
  }
  .modal-profile {
    background: RGBA(21, 20, 21, 0.9);
    position: fixed;
    position: relative;
    top: 500px;
    width: 349px;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1;
    height: 169px;
    padding: 40px;
  }
  #form-remove {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .delete-text {
    text-align: center;
    color: aliceblue;
  }
  .modal-none {
    display: none;
  }
  #delete-ok {
    padding: 3px;
    width: 97px;
    margin-bottom: 6px;
    margin-right: 3px;
    background-color: rgb(43, 86, 31);
    font-family: var(--fontBodyText);
    color: white;
    border: none;
    border-radius: 10%;
  }
}
