@media (min-width: 320px) and (max-width: 767px) {
  .main__profile-section-edit {
    background-image: var(--img-profile);
    background-size: cover;
    position: relative;
    bottom: 22px;
    height: 1132px;
    padding-top: 26px;
  }
  .profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
  }
  .form__register-photo-edit {
    width: 280px;
  }
  .form__title-edit {
    text-align: center;
    margin-bottom: 33px;
  }
  .image_profile-edit {
    display: flex;
    position: relative;
    justify-content: center;
    opacity: 93%;
  }
  .image_profile-edit img {
    width: 140px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid dimgrey;
  }
  .label_photo-edit {
    position: absolute;
    background-color: dimgrey;
    border-radius: 51%;
    padding: 4px 5px;
    right: 75px;
    top: 100px;
  }
  #avatar {
    display: none;
  }
  .form_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .form__register-container-edit {
    background-color: rgba(239, 239, 239, 0.9);
    border-radius: 2%;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
  .form__input-edit {
    width: 100%;
    text-align: center;
    font-size: 20px;

    border: none;
    outline: none;
    background-color: #efefef;
    border-bottom: 1px solid #5757577e;
  }
  .form__label-edit {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(5px);
    transition: transform 0.5s, color 0.3s;
  }
  .form__input-edit:focus + .form__label-edit,
  .form__input-edit:not(:placeholder-shown) + .form__label-edit {
    transform: translateY(-10px) scale(0.7);
    transform-origin: left top;
    color: #5757577e;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__profile-edit {
    margin-top: 20px;
  }
  .main__profile-section-edit {
    background-image: var(--img-profile);
    background-size: cover;
    position: relative;
    bottom: 3px;
    height: 1136px;
    padding-top: 21px;
  }
  .profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: auto;
  }
  .form__title-edit {
    text-align: center;
    margin-bottom: 28px;
  }
  .image_profile-edit {
    display: flex;
    position: relative;
    justify-content: center;
    opacity: 93%;
  }
  .image_profile-edit img {
    width: 160px;
    height: 177px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid dimgrey;
  }
  .label_photo-edit {
    position: absolute;
    background-color: dimgrey;
    border-radius: 51%;
    padding: 4px 5px;
    right: 10px;
    top: 130px;
  }
  #avatar {
    display: none;
  }
  .form_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .form__register-container-edit {
    background-color: rgba(239, 239, 239, 0.9);
    border-radius: 2%;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
  .form__input-edit {
    width: 80%;
    font-size: 20px;
    padding: 3px -3px;
    border: none;
    outline: none;
    background-color: #efefef;
    border-bottom: 1px solid #5757577e;
  }
  .form__label-edit {
    cursor: pointer;
    position: absolute;
    color: black;
    top: 0px;
    left: 30px;
    transform: translateY(5px);
    transition: transform 0.5s, color 0.3s;
  }
  .form__input-edit:focus + .form__label-edit,
  .form__input-edit:not(:placeholder-shown) + .form__label-edit {
    transform: translateY(-10px) scale(0.7);
    transform-origin: left top;
    color: #5757577e;
  }
}

@media (min-width: 1024px) {
  .main__profile-section-edit {
    background-image: var(--img-profile);
    background-size: cover;
    position: relative;
    bottom: 3px;
    height: 1136px;
    padding-top: 21px;
  }
  .profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    margin: auto;
  }
  .form__title-edit {
    text-align: center;
    margin-bottom: 28px;
  }
  .image_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 93%;
  }
  .image_profile-edit img {
    width: 160px;
    height: 177px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid dimgrey;
  }
  .label_photo-edit {
    position: absolute;
    background-color: dimgrey;
    border-radius: 51%;
    padding: 4px 5px;
    right: 13px;
    top: 130px;
  }
  #avatar {
    display: none;
  }
  .form_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .form__register-container-edit {
    background-color: rgba(239, 239, 239, 0.9);
    border-radius: 2%;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
  .form__input-edit {
    width: 80%;
    font-size: 20px;
    padding: 3px -3px;
    border: none;
    outline: none;
    background-color: #efefef;
    border-bottom: 1px solid #5757577e;
  }
  .form__label-edit {
    cursor: pointer;
    position: absolute;
    color: black;
    top: 0px;
    left: 30px;
    transform: translateY(5px);
    transition: transform 0.5s, color 0.3s;
  }
  .form__input-edit:focus + .form__label-edit,
  .form__input-edit:not(:placeholder-shown) + .form__label-edit {
    transform: translateY(-10px) scale(0.7);
    transform-origin: left top;
    color: #5757577e;
  }
}
