@media (min-width: 320px) and (max-width: 767px) {
  .main__profile-section-edit {
    background-image: var(--img-profile);
    background-size: cover;
    position: relative;
    bottom: 22px;
    height: 1132px;
    padding-top: 26px;
  }
  .profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
  }
  .form__register-photo-edit {
    width: 280px;
  }
  .form__title-edit {
    text-align: center;
    margin-bottom: 33px;
  }
  .image_profile-edit {
    display: flex;
    position: relative;
    justify-content: center;
    opacity: 93%;
  }
  .image_profile-edit img {
    width: 140px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid dimgrey;
  }
  .label_photo-edit {
    position: absolute;
    background-color: dimgrey;
    border-radius: 51%;
    padding: 4px 5px;
    right: 75px;
    top: 100px;
  }
  #avatar {
    display: none;
  }
  .form_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .form__register-container-edit {
    background-color: rgba(239, 239, 239, 0.9);
    border-radius: 2%;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
  .form__input-edit {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .profile-edit {
    background-color: rgba(239, 239, 239, 0.9);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main__profile-edit {
    margin-top: 20px;
  }
  .main__profile-section-edit {
    background-image: var(--img-profile);
    background-size: cover;
    position: relative;
    bottom: 3px;
    padding: 130px;
  }
  .profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: auto;
  }
  .form__title-edit {
    text-align: center;
    font-size: 58px;
    margin-bottom: 28px;
    font-family: var(--fontKaushan);
  }
  .image_profile-edit {
    display: flex;
    position: relative;
    justify-content: center;
    opacity: 93%;
  }
  .image_profile-edit img {
    width: 118px;
    height: 127px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid dimgrey;
  }
  .label_photo-edit {
    position: absolute;
    background-color: dimgrey;
    border-radius: 51%;
    padding: 2px 5px;
    right: 257px;
    top: 84px;
  }
  #avatar {
    display: none;
  }
  .form_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .form__register-button {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  .terms {
    color: black !important;
  }

  .form__register-container-edit {
    background-color: rgba(239, 239, 239, 0.9);
    padding: 10px;
    width: 654px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
  .form__input-edit {
    width: 80%;
    font-size: 20px;
    padding: 3px -3px;
    border: none;
    outline: none;
    background-color: #efefef;
    border-bottom: 1px solid #5757577e;
  }
  .form__label-edit {
    cursor: pointer;
    position: absolute;
    color: black;
    top: 0px;
    left: 72px;
    transform: translateY(5px);
    transition: transform 0.5s, color 0.3s;
  }
  .form__register-date-register {
    display: flex;
    flex-wrap: wrap;
  }
  .form__register-date-register p {
    padding: 14px 0 0;
    margin-left: 66px;
  }

  .form__input-edit:focus + .form__label-edit,
  .form__input-edit:not(:placeholder-shown) + .form__label-edit {
    transform: translateY(-10px) scale(0.7);
    transform-origin: left top;
    color: #5757577e;
  }
  .input__check-edit {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .main__profile-section-edit {
    background-image: var(--img-profile);
    background-size: cover;
    position: relative;
    bottom: 3px;
    padding: 130px;
  }
  .profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
  }
  .form__title-edit {
    text-align: center;
    font-size: 58px;
    margin-bottom: 28px;
    font-family: var(--fontKaushan);
  }
  .image_profile-edit {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 93%;
  }
  .image_profile-edit img {
    width: 104px;
    height: 108px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid dimgrey;
  }
  .label_photo-edit {
    position: absolute;
    background-color: dimgrey;
    border-radius: 51%;
    padding: 2px 5px;
    right: 258px;
    top: 75px;
  }
  #avatar {
    display: none;
  }
  .form_profile-edit {
    width: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .form__register-button {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  .form__register-container-edit {
    background-color: rgba(239, 239, 239, 0.9);
    padding: 22px;
    width: 654px;
    flex-wrap: wrap;

    flex-direction: column;
    display: flex;
  }
  .form__register-date-register {
    display: flex;
    flex-wrap: wrap;
  }
  .form__register-date-register p {
    padding: 14px 0 0;
    margin-left: 66px;
  }
  .form__register-date-register input {
    background-color: #efefef;
    margin-left: 31px;
    border: none;
  }
  .terms {
    color: black !important;
  }

  .form__input-edit {
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    padding: 3px -3px;
    border: none;
    outline: none;
    background-color: #efefef;
    border-bottom: 1px solid #5757577e;
  }
  .form__label-edit {
    cursor: pointer;
    position: absolute;
    color: black;
    top: 0px;
    left: 65px;
    transform: translateY(5px);
    transition: transform 0.5s, color 0.3s;
  }
  .form__input-edit:focus + .form__label-edit,
  .form__input-edit:not(:placeholder-shown) + .form__label-edit {
    transform: translateY(-10px) scale(0.7);
    transform-origin: left top;
    color: #5757577e;
  }
  .input__check-edit {
    margin-right: 10px;
  }
}
